:css
  .controls .inline{
    display:inline;
  }
  .controls .inline span.error{
    top: -10px;
    left: 0px;
    margin: 0;
  }
  .control-group {
    position: relative;
  }
  .field_with_errors input{
    border: 1px solid red;
  }
#profile.tab-pane.fade
  .row-fluid
    =simple_form_for profile, url: profile_path do |f|
      %button.btn.btn-med{:type => "submit", :value => ""} Update
      .span6
        %fieldset
          %h5 Complete Your Profile
          .control-group
            %label.control-label.required Select Your Birthday
            .controls
              =f.input :dob, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12,
                              order: [:month, :day, :year],
                              prompt: {day: "Day", month: "Month", year: "Year"}, label: false, input_html: {class: "required"}
          .control-group
            %label.control-label Upload Photo
            .controls
              %span.btn.btn-primary.fileinput-button
                %span
                  %i.icon-plus.icon-white
                  Select Image...
                =f.input :avatar, label: false
          =image_tag profile.avatar(:thumb)
          %br/
          %br/
          .control-group
            %label.control-label.required Location
            .controls
              =f.input :country, as: :country, prompt: "Country", label: false
          .control-group
            %label.required.control-label{:for => "HeightRegister"} Height
            .controls
              =f.input :height_ft, label:false, type: "text", wrapper_html: {class: "inline"}, input_html: {type: "text", class: "span2"}
              %span.unit ft.
              =f.input :height_in, label: false, input_html: { class: "span2", type: "text"}, wrapper_html: {class: "inline"}
              %span.unit in.
              =f.input :height_m, label:false, input_html: {class: "span2", type: "text"}, wrapper_html: {class: "inline"}
              %span.unit m
          .control-group
            %label.required.control-label{:for => "WeightRegister"} Weight
            .controls
              =f.input :weight, label:false, input_html: {class: "span2", type: "text"},  wrapper_html: {class: "inline"}, label: false
              %span.unit lbs.
              =f.input :weight_kg, label:false, input_html: {class: "span2", type: "text"},  wrapper_html: {class: "inline"}, label: false
              %span.unit kg.
          .control-group
            %label.control-label.required Football Experience Level
            .controls
              =f.input :football_exp_level, label: false, input_html: {class: "span7"}
          .control-group
            %label.control-label.required Weight Training Experience
            .controls
              =f.input :weight_training_exp, label:false, prompt: "- Select One -", input_html: {class: "span7 required"}
      .span5
        .row-fluid
          .span6
            %fieldset
              %h5 Combine Agility Stats
              .control-group
                %label.required.control-label{:for => "40ydDash"} 40-yard Dash
                .controls
                  =f.input :yard_dash_40_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                  =f.input :yard_dash_40_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
              .control-group
                %label.required.control-label{:for => "broadJump"} Broad Jump
                .controls
                  =f.input :broad_jump_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                  =f.input :broad_jump_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
              .control-group
                %label.required.control-label{:for => "225benchPress"} 225 Bench Press
                .controls
                  =f.input :bench_press_225_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                  =f.input :bench_press_225_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
              .control-group
                %label.required.control-label{:for => "shortShuttle"} Short Shuttle
                .controls
                  =f.input :short_shuttle_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                  =f.input :short_shuttle_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
              .control-group
                %label.required.control-label{:for => "lDrill"} L-Drill
                .controls
                  =f.input :l_drill_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                  =f.input :l_drill_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
              .control-group
                %label.required.control-label{:for => "verticalJump"} Vertical Jump
                .controls
                  =f.input :vertical_jump_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last", placeholder: "Last"
                  =f.input :vertical_jump_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
          / close span6
          .span6
            %form#maxStrengthStats{:action => "#.php", :method => "post"}
              %fieldset
                %h5 Max Strength (1RM) Stats
                .control-group
                  %label.required.control-label{:for => "benchPress"} Bench Press
                  .controls
                    =f.input :bench_press_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                    =f.input :bench_press_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
                .control-group
                  %label.required.control-label{:for => "backSquat"} Back Squat
                  .controls
                    =f.input :back_squat_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last"
                    =f.input :back_squat_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
                .control-group
                  %label.required.control-label{:for => "deadLift"} Deadlift
                  .controls
                    =f.input :dead_lift_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last", placeholder: "Last"
                    =f.input :dead_lift_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "PR"
                .control-group
                  %label.required.control-label{:for => "hangClean"} Hang Clean
                  .controls
                    =f.input :hang_clean_last, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, placeholder: "Last", placeholder: "Last"
                    =f.input :hang_clean_pr, label:false, input_html: {class: "span4", type: "text"},  wrapper_html: {class: "inline"}, label: false, placeholder: "PR"
          / close span6
        / close row-fluid
      / close span5
/ close tab-pane fade in active
/ END RESUME
/ **************** BEGIN TESTING STATS ****************
