%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
  %script{src: "/js/g-alert.js", type: "text/javascript"}
  %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
  %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
  %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
  %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
  %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
  %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
  %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
  %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
  %script{src: "/js/plugins.js", type: "text/javascript"}
  %script{src: "/js/waypoints.min.js", type: "text/javascript"}
  %script{src: "/js/w-lang.js", type: "text/javascript"}
  %script{src: "/js/w-search.js", type: "text/javascript"}
  %script{src: "/js/w-tabs.js", type: "text/javascript"}
  %script{src: "/js/w-timeline.js", type: "text/javascript"}
  
  / CANVAS
  .l-canvas.type_wide.headertype_extended
    .l-canvas-h.workout

      .l-main
        .l-main-h

          .l-submain.for_pagehead.color_alternate
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %ul.program-guide 
                  %li 
                    %a{href: "/cornerback_training_goals"}Training Goals
                  %li 
                    %a{href: "/cornerback_training_phases"}Phases I, II, III
                  %li 
                    %a{href: "/cornerback_training_weekly_breakdown"} Weekly Breakdown
                  %li 
                    %a{href: "/cornerback_training_schedule"}Schedule
                  %li 
                    %a{href: "/cornerback_training_workout_structure"}Workout Structure

          .l-submain.workout.program-guide.phases
            
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title GET IN SHAPE, LEARN THE DRILLS
                    .label.label-inverse 1
                    %h6 'DB Fundamentals'
                    %h3 Phase 1
                    %h5 GET IN SHAPE, LEARN THE DRILLS.
                    %ol
                      %li Phase one will establish your training base, and prepare you for the more intense training to follow.
                      %li The focus of your training will be on cornerback and sprinting technique, core and ligament/tendon strength, flexibility, and fixing your muscle imbalances.
                    .hr.lg

                    .label.label-inverse Phase 1 Training Goals
                    .g-cols
                      .one-third
                        %h5 SPEED TRAINING
                        %ul
                          %li Improve your flexibility and dynamic range of motion
                          %li Develop sprinting technique
                          %li Increase burst and start speed
                      .one-third
                        %h5 FOOTWORK  AGILITY
                        %ul
                          %li Learn basic cornerback drills
                          %li Develop your cornerback technique and footwork fundamentals
                          %li Increase technical endurance
                      .one-third
                        %h5 STRENGTH TRAINING
                        %ul
                          %li Learn lifting form, technique, and tempo
                          %li Strengthen your ligaments and tendons
                          %li Increase your core strength
                          %li Fix your muscle imbalances
                          %li Improve your muscle endurance
                          %li Increase your flexibility and dynamic range of motion


            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title FASTER, STRONGER, SMARTER
                    .label.label-inverse 2
                    %h6 'Advanced DB Training'
                    %h3 Phase 2
                    %h5 FASTER, STRONGER, SMARTER
                    %ol
                      %li In Phase 2, you'll be introduced to several new speed and advanced cornerback drills, as well as more cornerback specific strength training exercises.
                      %li This phase will mark a turning point. You will feel faster, stronger, and more in control of your movement.
                    .hr.lg

                    .label.label-inverse Phase 2 Training Goals
                    .g-cols
                      .one-third
                        %h5 SPEED TRAINING
                        %ul
                          %li Continue improving your sprint technique
                          %li Continue improving your start speed
                          %li Start developing your acceleration speed
                          %li Improve your speed endurance and recovery
                          %li Increase your vertical and horizontal explosion
                          %li Increase your maximum top-end speed
                      .one-third
                        %h5 FOOTWORK  AGILITY
                        %ul
                          %li Increase combine agility speed
                          %li React faster to double moves
                      .one-third
                        %h5 STRENGTH TRAINING
                        %ul
                          %li Maximize your muscle gains
                          %li Develop your specific strength
                          %li Improve your dynamic core strength
            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title HIGH-PERFORMANCE TRAINING
                    .label.label-inverse 3
                    %h6 'Next Level DB Training'
                    %h3 Phase 3
                    %h5 HIGH-PERFORMANCE TRAINING
                    %ol
                      %li In phase three, you will push beyond the limits of your athletic ability.
                      %li Having established a tremendous strength and polished technique base for speed and footwork, you will focus on converting that strength and technique into power. Your speed training intensity will increase and your strength training load will decrease to focus exclusively on power.
                      %li Phase 3 is where your training goals are acheived and virtually every aspect of your game maximized.
                    .hr.lg

                    .label.label-inverse Phase 3 Training Goals
                    .g-cols
                      .one-third
                        %h5 SPEED TRAINING
                        %ul
                          %li Maximize your start and burst speed
                          %li Maximize your acceleration and top-end speed
                          %li Maximize your speed endurance
                          %li Maximize your vertical and horizontal explosiveness
                      .one-third
                        %h5 FOOTWORK  AGILITY
                        %ul
                          %li Polish your footwork
                          %li Maximize your Drive and Ball-Hawk abilities
                          %li Maximize your agility
                      .one-third
                        %h5 STRENGTH TRAINING
                        %ul
                          %li Maximize Vertical Explosion
                          %li Maximize Reactive Power
                          %li Maximize Cornerback-Specific Power
                
                                    
                                       
                        
                  
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "pages/disqus"
                      
      / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
    .l-footer-h
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up