%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
  %script{src: "/js/g-alert.js", type: "text/javascript"}
  %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
  %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
  %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
  %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
  %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
  %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
  %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
  %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
  %script{src: "/js/plugins.js", type: "text/javascript"}
  %script{src: "/js/waypoints.min.js", type: "text/javascript"}
  %script{src: "/js/w-lang.js", type: "text/javascript"}
  %script{src: "/js/w-search.js", type: "text/javascript"}
  %script{src: "/js/w-tabs.js", type: "text/javascript"}
  %script{src: "/js/w-timeline.js", type: "text/javascript"}
 
  / CANVAS
  .l-canvas.type_wide.headertype_extended
    .l-canvas-h.workout

      .l-main
        .l-main-h

          .l-submain.for_pagehead.color_alternate
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %ul.program-guide 
                  %li 
                    %a{href: "/cornerback_training_goals"}Training Goals
                  %li 
                    %a{href: "/cornerback_training_phases"}Phases I, II, III
                  %li 
                    %a{href: "/cornerback_training_weekly_breakdown"} Weekly Breakdown
                  %li 
                    %a{href: "/cornerback_training_schedule"}Schedule
                  %li 
                    %a{href: "/cornerback_training_workout_structure"}Workout Structure

          .l-submain.workout.program-guide.schedule
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title PHASE 1: 6 DAYS ON, 1 DAY OFF.
                    
                    .g-cols
                      .one-third
                        .g-cols
                          .one-half
                            .label DAY 1
                            %h3 MON
                            .label.label-info Speed Training
                            .label.label-info LB Strength
                          .one-half
                            .label DAY 2
                            %h3 TUE
                            .label.label-warning Footwork Agility
                            .label.label-warning Cornerback Drills
                            .label.label-warning UB Strength
                      .one-third
                        .g-cols
                          .one-half
                            .label DAY 3
                            %h3 WED
                            .label.label-danger Core Strength
                            .label.label-danger Flexibility
                          .one-half
                            .label DAY 4
                            %h3 THU
                            .label.label-info Speed Training
                            .label.label-info LB Strength
                      .one-third
                        .g-cols
                          .one-half
                            .label DAY 5
                            %h3 FRI
                            .label.label-warning Footwork Agility
                            .label.label-warning Cornerback Drills
                            .label.label-warning UB Strength
                          .one-half
                            .label DAY 6
                            %h3 SAT
                            .label.label-danger Core Strength
                            .label.label-danger Flexibility


            
                    %br
                    .hr.lg
                    %br

                    .g-cols
                      .one-third
                        %h6 'Speed & LB Strength'
                        %h3 MON  THU
                        %h5 SPEED TRAINING.
                        %ol
                          %li Speed and lower-body strength training.
                          %li Make sure you focus on performing speed drills with Great sprint technique.
                      .one-third
                        %h6 'Footwork & UB Strength'
                        %h3 TUE  FRI
                        %h5 FOOTWORK, AGILITY, DRILLS
                        %ol
                          %li Footwork and agility, cornerback drills, and upper-body strength.
                      .one-third
                        %h6 'Core & Flexibility'
                        %h3 WED  SAT
                        %h5 FLEXIBILITY TRAINING
                        %ol
                          %li Flexibility and core strength.
                          %li It is recommended that you participate in a progressive yoga program. If you can't, a round of foam rolling, followed by static stretching will suffice
                          %li Make sure you start off in a beginners class.
                    
                                        
                                       
                        
                  
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "pages/disqus"
                      
      / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
    .l-footer-h
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up