%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
  %script{src: "/js/g-alert.js", type: "text/javascript"}
  %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
  %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
  %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
  %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
  %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
  %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
  %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
  %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
  %script{src: "/js/plugins.js", type: "text/javascript"}
  %script{src: "/js/waypoints.min.js", type: "text/javascript"}
  %script{src: "/js/w-lang.js", type: "text/javascript"}
  %script{src: "/js/w-search.js", type: "text/javascript"}
  %script{src: "/js/w-tabs.js", type: "text/javascript"}
  %script{src: "/js/w-timeline.js", type: "text/javascript"}
  
   
  / CANVAS
  .l-canvas.type_wide.headertype_extended
    .l-canvas-h.workout
      
      .l-main
        .l-main-h

          .l-submain.for_pagehead.color_alternate
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %ul.program-guide 
                  %li 
                    %a{href: "/cornerback_training_goals"}Training Goals
                  %li 
                    %a{href: "/cornerback_training_phases"}Phases I, II, III
                  %li 
                    %a{href: "/cornerback_training_weekly_breakdown"} Weekly Breakdown
                  %li 
                    %a{href: "/cornerback_training_schedule"}Schedule
                  %li 
                    %a{href: "/cornerback_training_workout_structure"}Workout Structure

          .l-submain.workout.program-guide.goals
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title 
                      YOUR
                      %u THREE
                      AREAS OF TRAINING FOCUS
                    
                    .g-cols.schedule-overview
                      .one-third
                        .label.label-info 1
                        %h6 'THE GREAT EQUALIZER'
                        %h3 Speed Training
                        %h4 Speed kills.
                        %p Train for quickness, speed, and explosiveness...
                        
                        .hr.lg
                        .label.label-info TRAINING FOCUS
                        %ul
                          %li Develop an Explosive Start
                          %li Achieve Rapid Acceleration
                          %li Increase Your Max Speed
                          %li Build Your Speed Endurance
                        .label.label-info SO YOU CAN...
                        %ul
                          %li Explode out of your breaks.
                          %li Beat receivers to the ball.
                          %li Win on deep routes.
                          %li Take picks, punts, and kicks to the house!
                      .one-third
                        .label.label-warning 2
                        %h6 'Play Maker Fundamentals'
                        %h3
                          Footwork
                          Agility
                        %h4 Technique is everything.
                        %p Master cornerback position skills and technique...
                        
                        .hr.lg
                        .label.label-warning TRAINING FOCUS
                        %ul
                          %li Increase Your Route Reaction Speed
                          %li Develop Cat-Quick Footwork
                          %li Develop Fluid Hips
                          %li Develop Unshakeable Agility
                        .label.label-warning SO YOU CAN...
                        %ul
                          %li Jump the route.
                          %li Make it quick, smooth, and automatic.
                          %li Open, flip, or spin, and get to the ball.
                          %li Make open field tackles easy
                          %li Cover double moves without thinking.
                      .one-third
                        .label.label-danger 3
                        %h6 'The Dynamic Athlete'
                        %h3 Strength Training
                        %h4
                          Strength
                          %u is
                          Power.
                        %p Increase your strength, power and peformance...
                        
                        .hr.lg
                        .label.label-danger TRAINING FOCUS
                        %ul
                          %li Anatomical adaptation
                          %li Pre-hab and injury prevention
                          %li Increase Your Muscle Mass
                          %li Max 'Cornerback-Specific' strength
                          %li Max 'Cornerback-Specific' Power
                        .label.label-danger SO YOU CAN...
                        %ul
                          %li Prepare your body to train.
                          %li Make sure you stay injury-free.
                          %li Pack some muscle onto your frame.
                          %li Be a play-making, game-changing cornerback.
                    
                                        
                                       
                        
                 
                %hr 
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "pages/disqus"
                      
      / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
    .l-footer-h
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up