%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
  %script{src: "/js/g-alert.js", type: "text/javascript"}
  %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
  %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
  %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
  %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
  %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
  %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
  %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
  %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
  %script{src: "/js/plugins.js", type: "text/javascript"}
  %script{src: "/js/waypoints.min.js", type: "text/javascript"}
  %script{src: "/js/w-lang.js", type: "text/javascript"}
  %script{src: "/js/w-search.js", type: "text/javascript"}
  %script{src: "/js/w-tabs.js", type: "text/javascript"}
  %script{src: "/js/w-timeline.js", type: "text/javascript"}
    
    
  / CANVAS
  .l-canvas.type_wide.headertype_extended
    .l-canvas-h.workout.structure

      .l-main
        .l-main-h

          .l-submain.for_pagehead.color_alternate
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %ul.program-guide 
                  %li 
                    %a{href: "/cornerback_training_goals"}Training Goals
                  %li 
                    %a{href: "/cornerback_training_phases"}Phases I, II, III
                  %li 
                    %a{href: "/cornerback_training_weekly-breakdown"} Weekly Breakdown
                  %li 
                    %a{href: "/cornerback_training_schedule"}Schedule
                  %li 
                    %a{href: "/cornerback_training_workout_structure"}Workout Structure

          .l-submain.workout.program-guide
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title PREPARE FOR HIGH-PERFORMANCE TRAINING
                    %h3 WARM-UPS
                    %h5 WARM-UP LIKE A CHAMPION
                    %ol
                      %li Warming up provides increased bloodflow to your muscles. It prepares you for the workout, prevents injuries, and helps increase workout performance.
                      %li You should never partake in any sort of intense training without a proper warm-up.
                    
                    .hr.lg

                    .label.label-inverse TRAINING NOTES
                    .g-cols
                      .one-third
                        %h5 STATIC STRETCHING
                        %ul
                          %li Hold stretch for 30 seconds
                          %li Stretch each muscle as far as you without discomfort
                          %li Don't bounce
                      .one-third
                        %h5 DYNAMIC WARM-UP
                        %ul
                          %li Focus on using correct form
                          %li Keep your arms at 90° (90 degree elbow)
                          %li Feet dorsiflexed
                          %li Rapid, tight body movements
                          %li Concentrate on 'movement efficiency'
                          %li Keep arm and leg speed inline
                      .one-third
                        %h5 LADDER DRILLS
                        %ul
                          %li If necessary, slow down to learn the drill
                          %li Keep your hips low
                          %li Stay on the balls of your feet
                          %li Chest over your knees
            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
    
                    %h2.section-title HIGH-PERFORMANCE TRAINING

                    %h3 PRIMARY WORKOUTS
                    .g-cols
                      .one-half
                        %h5 EX: Speed Training Workout
                        %img{src: "/img/screen_speed-training 2.png"}
                      .one-half
                        %h5 EX: Strength Training Workout
                        %img{src: "/img/screen_strength-training_2.png"}
                    
                    .hr.lg

                    %h5 TRAINING FOR DOMINATION
                    %ol
                      %li All training exercises should be performed with full intensity, unless stated otherwise.
                      %li Focus on executing every rep with Great technique.
                      %li Remember, you are NOT training to train... You're training to MAKE PLAYS.
                        
                    .hr.lg

                    .label.label-inverse TRAINING NOTES
                    .g-cols
                      .one-third
                        %h5 SPEED TRAINING
                        %ul
                          %li Stay low in your bursts
                          %li Get your knees up
                          %li Keep your arms at 90°
                          %li Keep your feet dorsiflexed
                          %li Your feet should land underneath you
                      .one-third
                        %h5 FOOTWORK  AGILITY
                        %ul
                          %li Keep your hips low
                          %li Knees bent, chest over your knees
                          %li Break with your feet underneath you - Don't step in the bucket.
                          %li Use your eyes to see and arms to whip in the direction you want to go
                      .one-third
                        %h5 STRENGTH TRAINING
                        %ul
                          %li Use correct lifting form
                          %li Don't cheat yourself on the lifting tempo
                          %li Keep yourself on the clock. Make sure your rest in-between sets isn't too short or too long
                    
      
            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text

                    %h2.section-title COOL DOWN FOR OPTIMAL RECOVERY
                    %h3 COOL-DOWNS
                    %h5 COOL DOWN AND RECOVER
                    %ol
                      %li Cooling down is just as important as warming up.
                      %li A nice cool-down stretch helps to increase your flexibility
                      %li It also helps you recover faster, so you'll be ready for the next training session
                    

                    .hr.lg

                    .label.label-inverse TRAINING NOTES
                    .g-cols
                      .one-third
                        %h5 STATIC STRETCHING
                        %ul
                          %li Hold stretch for 20 seconds
                          %li Stretch each muscle as far as you without discomfort
                          %li Don't bounce
                      .one-third
                        %h5 FOAM ROLL / PRE-HAB
                        %ul
                          %li You should roll slowly, about 1 inch per second
                      .one-third
                        %h5 NUTRIENT INTAKE
                        %ul
                          %li You should ingest a combination of protein and carbs within 30 minutes of your training session
                          %li Replace any water you've lost through sweat during your training session
                        
                  

                  
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "pages/disqus"
                      
      / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
    .l-footer-h
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up