%link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lustria", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700italic,700,400italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/


%link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/color_2.css", media: "all", rel: "stylesheet", type: "text/css"}/

%script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
%script{src: "/js/g-alert.js", type: "text/javascript"}
%script{src: "/js/jquery.carousello.js", type: "text/javascript"}
%script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
%script{src: "/js/jquery.isotope.js", type: "text/javascript"}
%script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
%script{src: "/js/jquery.parallax.js", type: "text/javascript"}
%script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
%script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
%script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
%script{src: "/js/plugins.js", type: "text/javascript"}
%script{src: "/js/waypoints.min.js", type: "text/javascript"}
%script{src: "/js/w-lang.js", type: "text/javascript"}
%script{src: "/js/w-search.js", type: "text/javascript"}
%script{src: "/js/w-tabs.js", type: "text/javascript"}
%script{src: "/js/w-timeline.js", type: "text/javascript"}
/ End of Woopra Code
:javascript
  woopra.track('payment', {
    amount: '74.99',
    currency: 'USD'
  });
  / End of Woopra Code

:css
  /*************************** BODY ***************************/

  /* Body Background color */
  #body { 
    background-color: #000;
    font-family: 'lato';
    }
  body, p, td {
  font: 14px/24px 'Open Sans', sans-serif;
  word-spacing: 1px;
  }

  .l-main-h.workout {
  padding-top: 0;
  }


    
  /*************************** ALTERNATE CONTENT ***************************/

  /* Text Color */
  .color_alternate,
  .color_alternate .g-btn.type_default,
  .color_alternate .g-btn.type_outline,
  .color_alternate .g-pagination-item,
  .color_alternate .w-filters-item-link,
  .color_alternate .w-clients-nav,
  .color_alternate .w-clients-nav:hover,
  .color_alternate .w-nav-list.layout_ver .w-nav-anchor,
  .color_alternate .w-pagehead h1,
  .color_alternate .w-socials-item-link,
  .color_alternate .w-tags-item-link,
  .color_alternate .widget.widget_archive ul li a,
  .color_alternate .widget.widget_categories ul li a,
  .color_alternate .widget.widget_nav_menu .menu-item a {
    color: #ccc;
    }

  .color_alternate .g-btn.type_primary,
  .color_alternate input[type="submit"],
  .color_alternate .g-pagination-item.active,
  .color_alternate .w-actionbox.color_primary,
  .color_alternate .l-main .w-contacts-item i,
  .color_alternate .w-iconbox-icon,
  .color_alternate .w-pricing-item.type_featured .w-pricing-item-title,
  .color_alternate .w-team-member-links-item:hover,
  .color_alternate .w-timeline-item.active,
  .color_alternate .w-timeline-section.active .w-timeline-section-title {
    background-color: #666;
    }


  .color_alternate .g-btn.type_secondary,
  .color_alternate .w-iconbox:hover .w-iconbox-icon,
  .color_alternate .w-pricing-item-title,
  .color_alternate .w-tags.layout_block .w-tags-item-link:hover {
    background-color: #b39500;
    }

    .w-tabs.layout_accordion .w-tabs-section.active .w-tabs-section-title, .widget.widget_nav_menu .menu-item.current-menu-item > a, .widget.widget_nav_menu .menu-item.current-menu-ancestor > a {
    color: inherit;
    }

    .l-sidebar .widget {
    margin-bottom: 45px;
    border-right: 1px solid #111;
    padding-right: 15px;
    }
    
    .w-tabs.layout_accordion .w-tabs-section-title-text, .w-tabs-item-title {
    font-size: 14px/24px;
    font-family: 'Open Sans';
    }

    .w-tabs-item-icon, .w-tabs-section-title-icon {
    font-size: 18px;
    top: 24px;
    left: 20px;
    }

    .w-tabs.layout_accordion .w-tabs-section-title-control {
    top: 25px;
    right: 20px;
    font-size: 20px;
    line-height: 22px;
    height: 24px;
    width: 24px;
    text-align: center;
    transition: transform 0.25s ease;
    }

    .l-subheader.at_middle .w-nav-anchor.level_1:after {
    background-color: transparent;
    }

    .color_alternate {
    color: #000;
    }

    .color_alternate h1, .color_alternate h2, .color_alternate h4, .color_alternate h5, .color_alternate h6 {
    color: #000;
    }

    .l-sidebar .widget {
    margin-bottom: 45px;
    border-right: none;
    padding-right: 0;
    }

    .caption.astra_white_heading_2.sft b {
      color: #ccc;
      font-family: 'ProximaNova-Bold';
    }

    .caption.astra_white_heading_2.sft ul {
      color: #aaa;
    }

    .fullwidthbanner-container {
      max-height: 520px !important;
      width: 100% !important;
      position: relative;
      overflow: hidden !important;
      padding: 0;
    }

    .tp-caption a,
    .tp-caption a:hover {
      color: #49c3ff;
      text-shadow: none;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
    }

    .caption.astra_white_heading_2.sft .one-third a {
      color: #aaa;
    }


.l-canvas.type_wide.headertype_extended
  .l-canvas-h.l-canvas-h.workout

    .l-main
      .l-main-h.workout

        .l-submain.color_primary.type_fullwidth.border_none{style: "background-color: transparent;"}
          .l-submain-h.g-html

            .g-cols
              .full-width
                #slider.fullwidthbanner-container{style: "background-color: transparent;"}
                  .fullwidthbanner{style: "background-color: transparent;"}
                    %ul
                      %li{"data-transition" => "fade"}
                        %img{alt: "", src: "/img/index_header.jpg"}/
                        .caption.astra_white_heading_1.sft{"data-easing" => "easeInOutExpo", "data-speed" => "600", "data-start" => "1000", "data-x" => "center", "data-y" => "50", style: "font-size: 80px;"} Let's Transform.
                        .caption.astra_white_heading_2.sft{"data-easing" => "easeInOutExpo", "data-speed" => "600", "data-start" => "1000", "data-x" => "center", "data-y" => "150"} 

                          .g-cols
                            .one-third
                              1. Workouts
                              %ul 
                                %li
                                  %a{href: "/pages/6d_week1"}
                                    %b Phase I: WEEKS 1-6
                                    %br Cornerback Training Basics
                                %li 
                                  %a{href: "/pages/6d_week7"}
                                    %b Phase I: WEEKS 7-12
                                    %br Advanced Cornerback Training
                                %li 
                                  %a{href: "/pages/6d_week13"}
                                    %b Phase I: WEEKS 13-18
                                    %br High Performance Training
                                

                            .two-thirds
                              2. Sharing, Questions and Feedback
                              %ul 
                                %li 
                                  %b
                                    SHARE THE PROGRAM
                                  %br
                                  Please share this program with anyone you think will find it valuable.
                                %li 
                                  %b
                                    QUESTIONS
                                  %br
                                  Please send any questions to cornerbacktraining@gmail.com.
                                  %br
                                  You can also post on our 
                                  %a{href: "https://twitter.com/GreatCornerback", target: "_blank"}
                                    Twitter
                                  or
                                  %a{href: "https://www.facebook.com/pages/GreatCornerbackcom/110930165667701", target: "_blank"}
                                    Facebook
                                %li 
                                  %b
                                    FEEDBACK
                                  %br
                                  In order create a better training experience for you we encourage
                                  %br
                                  and appreciate your feedback. Please do whatever is most convenient: 
                                  %br
                                  email, social media, comments, etc.
                                  %br
                                %li
                                  %b
                                    CONTACT
                                  %br
                                  Please feel free to call me directly at (415) 562-4893.
                                  %br 

        
       
        .l-submain{style: "background: #000; background: url(/img/db_home.png)"}
          .l-submain-h.g-html.i-cf
            %br
            %h1{style: "text-align: center; font-size: 30px;"} Welcome. Quick Intro Vid.
            %p{style: "color: #333; text-align: center; font-size: 20px; color: #666;"} Don't forget to leave any comments and questions below.
            .g-hr.type_short
              %span.g-hr-h
                %i.icon-arrow-down

            .w-video.ratio_16-9
              .w-video-h
                %iframe{src: "//www.youtube.com/embed/Lfhxp6NJdAs?rel=0"}


            %br
            %br
            %br
            %h1{style: "text-align: center; font-size: 30px; margin-bottom: 0;"} Comments, Questions, Feedback...
            %p{style: "color: #333; text-align: center; font-size: 16px; color: #666;"} (Please, keep it clean)

            =render partial: "pages/disqus"
                
          


        / FOOTER
        .l-footer.type_normal
          .l-footer-h
            / subfooter: bottom
            .l-subfooter.at_bottom
              .l-subfooter-h.i-cf
                .w-copyright
                  © 2013 All rights reserved.
                  %a{href: ""} TrainForFootball.com
                / NAV
                %nav.w-nav
                  .w-nav-h
                    .w-nav-list.layout_hor.width_auto.float_right.level_1
                      .w-nav-list-h
                        .w-nav-item.level_1
                          .w-nav-item-h
                            %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                        .w-nav-item.level_1
                          .w-nav-item-h
                            %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
        / /FOOTER
        %a.w-toplink{href: "#"}
          %i.icon-angle-up
