%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/colors/z_color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  / Start VideoLightBox.com HEAD section
  %link{href: "css/videolightbox.css", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/overlay-minimal.css", rel: "stylesheet", type: "text/css"}/
  / End VideoLightBox.com HEAD section
  %script{src: "js/jquery.js", type: "text/javascript"}
  %script{src: "js/swfobject.js", type: "text/javascript"}
  %script{src: "js/jquery.tools.min.js", :type => "text/javascript"}
  %script{src: "js/videolightbox.js", :type => "text/javascript"}
    
  :css
    .g-cols > .one-third, .g-cols > .two-sixths {
    width: 34.5%;
    background: rgba(64, 64, 64, 1);
    padding: 1% 1.5%;
    border-radius: 2px;
    margin-bottom: 0;
    margin-left: 1.5%;
    }    
    .g-cols > .two-thirds, .g-cols > .four-sixths {
    width: 61.5%;
    }
    .g-cols > div {
    margin-left: 2.0000%;
    }
    .l-submain.workout > .l-submain-h.g-html.i-cf {
    background-color: transparent;
    padding: 25px 25px 25px 40px;
    }
    .g-cols > .two-thirds {
      background: #fff;
      padding: 1.5%;
    }
    .w-tabs.layout_accordion .w-tabs-section-content-h {
    padding: 0;
    }
    .l-submain.for_pagehead {
      padding: 4px 40px 0;
    }
    .w-tabs.layout_accordion .w-tabs-section-title-text, .w-tabs-item-title {
      font-size: 13px;
    }
    .w-timeline-item {
      height: 30px;
      width: 100px;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      border-bottom: none;
      border: 1px solid #0289cc;
      border-bottom: none;
      background-color: #0289cc;
    }
    .w-timeline-item-title {
      font-size: 13px;
      line-height: 30px;
      position: rekative;
      top: 0;
      color: #fff;
      font-weight: bold;
    }
    .w-timeline-item, .w-timeline-section-title {
      box-shadow: none;
    }
    .g-pagination-item.active, 
    .w-timeline-item.active, 
    .w-timeline-section.active 
    .w-timeline-section-title {
      background-color: #fff;
      color: #0289cc;
    }
    .w-timeline-item.active {
      border: 1px solid #ccc;
      border-bottom: none;
    }
    .w-timeline-item.active
    .w-timeline-item-title {
      color: #555;
    }
    .w-timeline-item.w-timeline-item-title {
      color: #fff;
    }
    .w-timeline-list:before, 
    .w-timeline.type_vertical 
    .w-timeline-section:before {
      background-color: #eee;
    } 

    

  / CANVAS
  .l-canvas.type_wide.col_sidecont.headertype_extended
    .l-canvas-h.l-canvas-h.workout
      .l-main
        .l-main-h.workout
          .l-submain.for_pagehead
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %h1 Training Videos
                %p 
                / breadcrums
                .g-breadcrumbs
                  %a.active.g-breadcrumbs-item{href: "cornerback-drills.html"} Cornerback Drills
                  %span.g-breadcrumbs-separator /
                  %a.g-breadcrumbs-item{href: "cornerback-strength-training.html"} Strength Training
                  %span.g-breadcrumbs-separator /
                  %a.g-breadcrumbs-item{href: "cornerback-stretching.html"} Stretching
                  %span.g-breadcrumbs-separator /
                  %a.g-breadcrumbs-item{href: "cornerback-dynamic-warmup.html"} Dynamic Warm-up
                  %span.g-breadcrumbs-separator /
                  %a.g-breadcrumbs-item{href: "cornerback-footwork.html"} Footwork & Agility
                  %span.g-breadcrumbs-separator /
                  %a.g-breadcrumbs-item{href: "cornerback-speed-training.html"} Speed Training
          
          .l-submain.workout.video-page
            .l-submain-h.g-html.i-cf
              .g-cols
                .two-thirds
                  .w-video.ratio_16-9
                    .w-video-h
                      %iframe{src: "//www.youtube.com/embed/OzbQg0TPyV8?rel=0"}
                  .video-content-wrapper
                    .video-header
                      %h6 Speed Training 
                      %h1 20-yd Burst
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus.Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                    
                    %h3 Technical Details
                    %p Lorem ipsum dolor sit amet, <a href="javascript:void(0);">this is a text link</a>. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                    %ul
                      %li This is a unorder list</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                      %li Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus.
                      %li Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                .one-third
                  .w-tabs.layout_accordion.with_icon
                    .w-tabs-h
                      .w-tabs-section.with_icon.active
                        .w-tabs-section-content
                          .w-tabs-section-content-h
                            .v-playlist-divider
                              %h6 Filter: 
                              %span
                                .label.label-info LB
                              %span
                                .label.label-warning UB
                              %span
                                .label.label-danger CS
                              %span
                                .label.label-inverse HP
                              %span
                                .label.label-default HP
                            %ul.video-playlist
                              =render partial: "videos_speedTraining"
      / /MAIN
  / /CANVAS
  / FOOTER
  .l-footer.type_normal
    .l-footer-h
      / subfooter: top
      .l-subfooter.at_top
        .l-subfooter-h.g-cols.cols_fluid
          .one-third
            .widget
              %h4 About us
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit
                = succeed "." do
                  %a{href: "#"} amet fermentum
              %p Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
          .one-third
            .widget
              %h4 Latest News
              .w-bloglist.date_atbottom
                .w-bloglist-list
                  .w-bloglist-entry
                    %a.w-bloglist-entry-link{href: "blog-post.html"} Another Single Interesting Post
                    %span.w-bloglist-entry-date March 27, 2013
                  .w-bloglist-entry
                    %a.w-bloglist-entry-link{href: "blog-post.html"} This is Just a Single Clean Post with Long Interesting Title
                    %span.w-bloglist-entry-date March 08, 2013
                  .w-bloglist-entry
                    %a.w-bloglist-entry-link{href: "blog-post.html"} This is a Single Clean Post
                    %span.w-bloglist-entry-date March 06, 2013
          .one-third
            .widget
              %h4 Contact Info
              .w-contacts
                .w-contacts-h
                  .w-contacts-list
                    .w-contacts-item.for_address
                      %i.icon-location
                      %span.w-contacts-item-name Address:
                      %span.w-contacts-item-value 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States
                    .w-contacts-item.for_phone
                      %i.icon-mobile
                      %span.w-contacts-item-name Phone:
                      %span.w-contacts-item-value +321 123 4567
                    .w-contacts-item.for_email
                      %i.icon-mail
                      %span.w-contacts-item-name Email:
                      %span.w-contacts-item-value
                        %a{href: "mailto:info@example.com"} info@example.com
            .widget
              .w-socials.size_normal
                .w-socials-h
                  .w-socials-list
                    .w-socials-item.facebook
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-facebook
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text Facebook
                    .w-socials-item.twitter
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-twitter
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text Twitter
                    .w-socials-item.gplus
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-google-plus
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text Google
                    .w-socials-item.linkedin
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-linkedin
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text LinkedIn
                    .w-socials-item.tumblr
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-tumblr
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text Tumblr
                    .w-socials-item.dribbble
                      %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                        %i.icon-dribbble
                      .w-socials-item-popup
                        .w-socials-item-popup-h
                          %span.w-socials-item-popup-text Dribbble
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up