#page
  .container.visible-phone
    %p.right
      %a.btn.btn-primary.scrollto{:href => "#secondary-nav"}
        Page Menu &nbsp;
        %i.icon-align-justify
  .hero-unit
    .container
      %h6 Week 12
      %ul.breadcrumb
        %li
          %a{"data-toggle" => "tab", :href => "#mon"} M
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#tue"} Tu
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#wed"} W
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#thu"} Th
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#fri"} F
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#sat"} Sa
      %ul.pager.pull-right
        %li
          %a{:href => "6d_week11.html"} &larr; Week 11
        %li
          %a{:href => "6d_week13.html"} Week 13 &rarr;
    / close container
  / close hero-unit
  #main-content.container.clearfix
    / begin main content
    .row-fluid.sidebar-right
      / begin row-fluid
      .span9.primary-column
        / begin primary content
        #myTabContent.tab-content
          / begin myTabContent
          / **************** BEGIN MONDAY ****************
          #mon.tab-pane.fade.in.active
            / Begin tab-pane Mon
            %h2 MONDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Speed training
              %li.active
                %a{:href => "#"} lowerbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  SPEED TRAINING
            / INSERT RENDER PARTIAL speedTraining_warmUp
            =render partial: "speedTraining_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Tuck Jumps + Bounds + Broad Jumps + Bursts + Stadiums/Bleachers
            .row-fluid.exercises.main-workout
              .row-fluid
                .span6
                  %h5 1. Tuck Jumps, 5 x 25 jumps, 30sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_tuckJumps
                    =render partial: "notes_tuckJumps"
                .span6
                  %h5 2. Single-leg bounds, 5 x 50 yards, 30sec
                  %ul
                    / INSERT RENDER PARTIAL notes_singleLegBounds
                    =render partial: "notes_singleLegBounds"
              .row-fluid
                .span6
                  %h5 3. Broad Jumps, 18x, 15sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_broadJump
                    =render partial: "notes_broadJump"
                .span6
                  %h5 4. 20-yard Power Sled 6x, 2.5 mins rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydPowerSled
                    =render partial: "notes_20ydPowerSled"
              .row-fluid
                .span6
                  %h5 5. 20-yard Bursts 4x, 60-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydBursts
                    =render partial: "notes_20ydBursts"
                .span6
                  %h5 6. 40-yard Dash, 10x, 100-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_40Yarddash
                    =render partial: "notes_40Yarddash"
              .row-fluid
                .span6
                  %h5 7. Stadiums/Bleachers, 9x, 45sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_stadiumsBleachers
                    =render partial: "notes_stadiumsBleachers"
            %hr/
            / INSERT RENDER PARTIAL speedTraining_coolDown
            =render partial: "speedTraining_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  LOWERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            =render partial: "lowerbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Lowerbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 2RM, 3.5 min rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} single-leg squats
                      %td 2RM
                      %td Fast
                      %td 3 x 2
                      %td 3.5 mins
                    %tr
                      %td
                        %a{:href => "#"} deadlifts (barbell)
                      %td 2RM
                      %td Fast
                      %td 3 x 2
                      %td 3.5 mins
                    %tr
                      %td
                        %a{:href => "#"} single-leg hip extension (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} knee raises (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} hip adductors (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} hip abductors (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} single-leg calf raises
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} standing ab wheel (3 x 21)
                        %br/
                        %a.ss_ex{:href => "#"} torso twists (cable) (3 x 8)
                      %td
                      %td
                      %td
                      %td nonstop
            %hr/
            / INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            =render partial: "lowerbodyStrength_coolDown"
          / tab-pane fade in active
          / END MONDAY
          / **************** BEGIN TUESDAY ****************
          #tue.tab-pane.fade
            / Begin tab-pane Tue
            %h2 TUESDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Footwork & Agility
              %li.active
                %a{:href => "#"} upperbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  FOOTWORK & AGILITY
            / INSERT RENDER PARTIAL footworkAgility_warmUp
            =render partial: "footworkAgility_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 DB Drills + Combine Agility Drills
            .row-fluid.exercises
              .span6
                %h5 DB Drills, 4x each, 30sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_dbDrills
                  =render partial: "workouts_dbDrills"
              .span6
                %h5 Combine Agility, 8x each, 45sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_combineAgility
                  =render partial: "workouts_combineAgility"
            %hr/
            / INSERT RENDER PARTIAL footworkAgility_coolDown
            =render partial: "footworkAgility_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  UPPERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL upperbodyStrength_warmUp
            =render partial: "upperbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Upperbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 4RM, 3.5 min rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} DB Press
                      %td 2RM
                      %td Fast
                      %td 3 x 2
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} DB Bent Row
                      %td 4RM
                      %td Fast
                      %td 3 x 4
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} DB Shoulder Press
                      %td 4RM
                      %td Fast
                      %td 3 x 4
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} Ball Crunches
                      %td 20RM
                      %td Fast
                      %td 3 x 20
                      %td nonstop
                    %tr
                      %td
                        %a{:href => "#"} seated torso twists (machine)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} back extensions
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} Heidi circuit
                      %td body wt.
                      %td Fast
                      %td 3 x (14/exercise)
                      %td :90
            %hr/
            / INSERT RENDER PARTIAL upperbodyStrength_coolDown
            =render partial: "upperbodyStrength_coolDown"
          / close tab-pane fade in active
          / END TUESDAY
          / **************** BEGIN WEDNESDAY ****************
          #wed.tab-pane.fade
            / Begin tab-pane wed
            %h2 WEDNESDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Technical Endurance
            .groove-border-eee
            %h4 TECHNICAL ENDURANCE
            / INSERT RENDER PARTIAL technicalEndurance_warmUp
            =render partial: "technicalEndurance_warmUp"
            %hr/
            / INSERT RENDER PARTIAL workouts_technicalEndurance
            =render partial: "workouts_technicalEndurance"
            %hr/
            / INSERT RENDER PARTIAL technicalEndurance_coolDown
            =render partial: "technicalEndurance_coolDown"
          / close tab-pane fade in active
          / END WEDNESDAY
          / **************** BEGIN THURSDAY ****************
          #thu.tab-pane.fade
            / Begin tab-pane Mon
            %h2 THURSDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Speed training
              %li.active
                %a{:href => "#"} lowerbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  SPEED TRAINING
            / INSERT RENDER PARTIAL speedTraining_warmUp
            =render partial: "speedTraining_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Tuck Jumps + Bounds + Broad Jumps + Bursts + Stadiums/Bleachers
            .row-fluid.exercises.main-workout
              .row-fluid
                .span6
                  %h5 1. Tuck Jumps, 5 x 25 jumps, 30sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_tuckJumps
                    =render partial: "notes_tuckJumps"
                .span6
                  %h5 2. Single-leg bounds, 5 x 50 yards, 30sec
                  %ul
                    / INSERT RENDER PARTIAL notes_singleLegBounds
                    =render partial: "notes_singleLegBounds"
              .row-fluid
                .span6
                  %h5 3. Broad Jumps, 18x, 15sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_broadJump
                    =render partial: "notes_broadJump"
                .span6
                  %h5 4. 20-yard Power Sled 6x, 2.5 mins rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydPowerSled
                    =render partial: "notes_20ydPowerSled"
              .row-fluid
                .span6
                  %h5 5. 20-yard Bursts 4x, 60-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydBursts
                    =render partial: "notes_20ydBursts"
                .span6
                  %h5 6. 40-yard Dash, 10x, 100-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_40Yarddash
                    =render partial: "notes_40Yarddash"
              .row-fluid
                .span6
                  %h5 7. Stadiums/Bleachers, 9x, 45sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_stadiumsBleachers
                    =render partial: "notes_stadiumsBleachers"
            %hr/
            / INSERT RENDER PARTIAL speedTraining_coolDown
            =render partial: "speedTraining_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  LOWERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            =render partial: "lowerbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Lowerbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 2RM, 3.5 min rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} DB Step ups
                      %td 2RM
                      %td Fast
                      %td 3 x 2
                      %td 3.5 mins
                    %tr
                      %td
                        %a{:href => "#"} deadlifts (barbell)
                      %td 2RM
                      %td Fast
                      %td 3 x 2
                      %td 3.5 mins
                    %tr
                      %td
                        %a{:href => "#"} single-leg hip extension (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} knee raises (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} hip adductors (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} hip abductors (cable)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} single-leg calf raises
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} standing ab wheel (3 x 21)
                        %br/
                        %a.ss_ex{:href => "#"} torso twists (cable) (3 x 8)
                      %td
                      %td
                      %td
                      %td nonstop
            %hr/
            / INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            =render partial: "lowerbodyStrength_coolDown"
          / tab-pane fade in active
          / END THURSDAY
          / **************** BEGIN FRIDAY ****************
          #fri.tab-pane.fade
            / Begin tab-pane Tue
            %h2 FRIDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Footwork & Agility
              %li.active
                %a{:href => "#"} upperbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  FOOTWORK & AGILITY
            / INSERT RENDER PARTIAL footworkAgility_warmUp
            =render partial: "footworkAgility_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Advanced DB Drills + Combine Agility Drills
            .row-fluid.exercises
              .span6
                %h5 Advanced DB Drills, 4x each, 30sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_advDBdrills
                  =render partial: "workouts_advDBdrills"
              .span6
                %h5 Combine Agility, 8x each, 45sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_combineAgility
                  =render partial: "workouts_combineAgility"
            %hr/
            / INSERT RENDER PARTIAL footworkAgility_coolDown
            =render partial: "footworkAgility_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  UPPERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL upperbodyStrength_warmUp
            =render partial: "upperbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Upperbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 4RM, 3.5 min rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} DB Press
                      %td 4RM
                      %td Fast
                      %td 3 x 4
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} DB Bent Row
                      %td 4RM
                      %td Fast
                      %td 3 x 4
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} DB Shoulder Press
                      %td 4RM
                      %td Fast
                      %td 3 x 4
                      %td 3 mins
                    %tr
                      %td
                        %a{:href => "#"} Ball Crunches
                      %td 20RM
                      %td Fast
                      %td 3 x 20
                      %td nonstop
                    %tr
                      %td
                        %a{:href => "#"} seated torso twists (machine)
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} back extensions
                      %td 8RM
                      %td Fast
                      %td 3 x 8
                      %td 2 mins
                    %tr
                      %td
                        %a{:href => "#"} Heidi circuit
                      %td body wt.
                      %td Fast
                      %td 3 x (13/exercise)
                      %td :90
            %hr/
            / INSERT RENDER PARTIAL upperbodyStrength_coolDown
            =render partial: "upperbodyStrength_coolDown"
          / close tab-pane fade in active
          / END FRIDAY
          / **************** BEGIN SATURDAY ****************
          #sat.tab-pane.fade
            / Begin tab-pane wed
            %h2 SATURDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Flexibility Training
              %li.active
                %a{:href => "#"} Rest
            .groove-border-eee
            %h4 FLEXIBILITY TRAINING
            / INSERT RENDER PARTIAL flexibilityTraining_warmUp
            =render partial: "flexibilityTraining_warmUp"
            %hr/
            / INSERT RENDER PARTIAL workouts_yoga
            =render partial: "workouts_yoga"
            %hr/
            / INSERT RENDER PARTIAL flexibilityTraining_coolDown
            =render partial: "flexibilityTraining_coolDown"
          / close tab-pane fade in active
          / END SATURDAY
        / close #myTabContent
      / close span9 primary-column
      %section#secondary-nav.span3.sidebar.secondary-column
        %aside.widget.clearfix
          %h5.short_headline
            %span Training Focus
          %ul
            %li
              %p Light workout week designed to stretch the body, stimulate muscular adaptation and establish form and technique in speed, footwork & agility drills.
            %li
              %p Focus on learning the drills.
            %li
              %p Speed training will be extremely light.
        / close aside widget
      / close section sidebar span3
    / close row-fluid
  / close .container id="main-content"
  / close #page
  / JS JQuery ================
