#page
  .container.visible-phone
    %p.right
      %a.btn.btn-primary.scrollto{:href => "#secondary-nav"}
        Page Menu &nbsp;
        %i.icon-align-justify
  .hero-unit
    .container
      %h6 Week 7
      %ul.breadcrumb
        %li
          %a{"data-toggle" => "tab", :href => "#mon"} M
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#tue"} Tu
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#wed"} W
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#thu"} Th
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#fri"} F
          %span.divider /
        %li
          %a{"data-toggle" => "tab", :href => "#sat"} Sa
      %ul.pager.pull-right
        %li
          %a{:href => "6d_week6.html"} &larr; Week 6
        %li
          %a{:href => "6d_week8.html"} Week 8 &rarr;
    / close container
  / close hero-unit
  #main-content.container.clearfix
    / begin main content
    .row-fluid.sidebar-right
      / begin row-fluid
      .span9.primary-column
        / begin primary content
        #myTabContent.tab-content
          / begin myTabContent
          / **************** BEGIN MONDAY ****************
          #mon.tab-pane.fade.in.active
            / Begin tab-pane Mon
            %h2 MONDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Speed training
              %li.active
                %a{:href => "#"} lowerbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  SPEED TRAINING
            / INSERT RENDER PARTIAL speedTraining_warmUp
            =render partial: "speedTraining_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Advanced Speed Training
            .row-fluid.exercises.main-workout
              .row-fluid
                .span6
                  %h5 1. Tuck Jumps, 3 x 25 jumps, 30sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_tuckJumps
                    =render partial: "notes_tuckJumps"
                .span6
                  %h5 2. Bounds, 3 x 50 yards, 30sec
                  %ul
                    / INSERT RENDER PARTIAL notes_bounds
                    =render partial: "notes_bounds"
              .row-fluid
                .span6
                  %h5 3. Broad Jumps, 12x, 15sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_broadJump
                    =render partial: "notes_broadJump"
                .span6
                  %h5 4. 20-yard Bursts, 12x, 60-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydBursts
                    =render partial: "notes_20ydBursts"
              .row-fluid
                .span6
                  %h5 5. 40-yard Dash, 4x, 100-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_40Yarddash
                    =render partial: "notes_40Yarddash"
                .span6
                  %h5 6. Stadiums/Bleachers, 6x, 45sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_stadiumsBleachers
                    =render partial: "notes_stadiumsBleachers"
            %hr/
            / INSERT RENDER PARTIAL speedTraining_coolDown
            =render partial: "speedTraining_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  LOWERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            =render partial: "lowerbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Lowerbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 9RM, 90sec rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} lunge circuit
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} single-leg stability ball hamstring curl
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} knee raises (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} reverse leg press
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} hip adductors (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} hip abductors (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} single-leg calf raises
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} ab wheel (3 x 21)
                        %br/
                        %a.ss_ex{:href => "#"} plate twists (3 x 20)
                      %td
                      %td
                      %td
                      %td nonstop
            %hr/
            / INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            =render partial: "lowerbodyStrength_coolDown"
          / tab-pane fade in active
          / END MONDAY
          / **************** BEGIN TUESDAY ****************
          #tue.tab-pane.fade
            / Begin tab-pane Tue
            %h2 TUESDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Footwork & Agility
              %li.active
                %a{:href => "#"} upperbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  FOOTWORK & AGILITY
            / INSERT RENDER PARTIAL footworkAgility_warmUp
            =render partial: "footworkAgility_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 DB Drills + Combine Agility Drills
            .row-fluid.exercises
              .span6
                %h5 DB Drills, 4x each, 30sec rest
                %ul
                  %li
                    %a{:href => "#"} Hitch (Comeback) Breaks
                  %li
                    %a{:href => "#"} Open-hip Hitch (Comebacks) Breaks
                  %li
                    %a{:href => "#"} 45° (Slant) Breaks
                  %li
                    %a{:href => "#"} Long 45° (Slant) Breaks
                  %li
                    %a{:href => "#"} 90° (Out) Breaks
                  %li
                    %a{:href => "#"} Post Breaks
                  %li
                    %a{:href => "#"} Post Corner Speed Turns
                  %li
                    %a{:href => "#"} Post Corner Slow Turns
                  %li
                    %a{:href => "#"} Hip Flips w/ 45° Break
                  %li
                    %a{:href => "#"} Hip Flips w/ 315° Break
              .span6
                %h5 Combine Agility, 6x each, 45sec rest
                %ul
                  %li
                    %a{:href => "#"} 20-yard Short Shuttle
                  %li
                    %a{:href => "#"} L-Drill (3-cone drill)
            %hr/
            / INSERT RENDER PARTIAL footworkAgility_coolDown
            =render partial: "footworkAgility_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  UPPERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL upperbodyStrength_warmUp
            =render partial: "upperbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Upperbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 9RM, 90sec rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} DB Press
                        %br/
                        %a.ss_ex{:href => "#"} DB Bent rows
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} DB Incline Bench
                        %br/
                        %a.ss_ex{:href => "#"} Pull-Ups
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} DB shoulder circuit
                      %td 12RM
                      %td
                      %td 3 x (9-9-9-9)
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Arm Circuit (machine)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Ball Crunches
                      %td 20RM
                      %td 3-0-1-1
                      %td 3 x 20
                      %td nonstop
                    %tr
                      %td
                        %a{:href => "#"} torso twists (machine)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} back extensions
                      %td 9M
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Heidi circuit
                      %td body wt.
                      %td Fast
                      %td 3 x (9/exercise)
                      %td :90
            %hr/
            / INSERT RENDER PARTIAL upperbodyStrength_coolDown
            =render partial: "upperbodyStrength_coolDown"
          / close tab-pane fade in active
          / END TUESDAY
          / **************** BEGIN WEDNESDAY ****************
          #wed.tab-pane.fade
            / Begin tab-pane wed
            %h2 WEDNESDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Technical Endurance
            .groove-border-eee
            %h4 TECHNICAL ENDURANCE
            / INSERT RENDER PARTIAL technicalEndurance_warmUp
            =render partial: "technicalEndurance_warmUp"
            %hr/
            / INSERT RENDER PARTIAL workouts_technicalEndurance
            =render partial: "workouts_technicalEndurance"
            %hr/
            / INSERT RENDER PARTIAL technicalEndurance_coolDown
            =render partial: "technicalEndurance_coolDown"
          / close tab-pane fade in active
          / END WEDNESDAY
          / **************** BEGIN THURSDAY ****************
          #thu.tab-pane.fade
            / Begin tab-pane Mon
            %h2 THURSDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Speed training
              %li.active
                %a{:href => "#"} lowerbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  SPEED TRAINING
            / INSERT RENDER PARTIAL speedTraining_warmUp
            =render partial: "speedTraining_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Advanced Speed Training
            .row-fluid.exercises.main-workout
              .row-fluid
                .span6
                  %h5 1. Tuck Jumps, 3 x 25 jumps, 30sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_tuckJumps
                    =render partial: "notes_tuckJumps"
                .span6
                  %h5 2. Bounds, 3 x 50 yards, 30sec
                  %ul
                    / INSERT RENDER PARTIAL notes_bounds
                    =render partial: "notes_bounds"
              .row-fluid
                .span6
                  %h5 3. Broad Jumps, 12x, 15sec rest
                  %ul
                    / INSERT RENDER PARTIAL broadJump
                  %h1 Missing partial broadJump
                .span6
                  %h5 4. 20-yard Bursts, 12x, 60-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_20ydBursts
                    =render partial: "notes_20ydBursts"
              .row-fluid
                .span6
                  %h5 5. 40-yard Dash, 4x, 100-yard walk for rest
                  %ul
                    / INSERT RENDER PARTIAL notes_40Yarddash
                    =render partial: "notes_40Yarddash"
                .span6
                  %h5 6. Stadiums/Bleachers, 6x, 45sec rest
                  %ul
                    / INSERT RENDER PARTIAL notes_stadiumsBleachers
                    =render partial: "notes_stadiumsBleachers"
            %hr/
            / INSERT RENDER PARTIAL speedTraining_coolDown
            =render partial: "speedTraining_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  LOWERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            =render partial: "lowerbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Lowerbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 9RM, 90sec rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr
                      %td
                        %a{:href => "#"} lunge circuit
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} single-leg stability ball hamstring curl
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} knee raises (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} reverse leg press
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} hip adductors (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} hip abductors (cable)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} single-leg calf raises
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} ab wheel (3 x 21)
                        %br/
                        %a.ss_ex{:href => "#"} plate twists (3 x 20)
                      %td
                      %td
                      %td
                      %td nonstop
            %hr/
            / INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            =render partial: "lowerbodyStrength_coolDown"
          / tab-pane fade in active
          / END THURSDAY
          / **************** BEGIN FRIDAY ****************
          #fri.tab-pane.fade
            / Begin tab-pane Tue
            %h2 FRIDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Footwork & Agility
              %li.active
                %a{:href => "#"} upperbody strength (20RM)
            .groove-border-eee
            %h4 WORKOUT I:  FOOTWORK & AGILITY
            / INSERT RENDER PARTIAL footworkAgility_warmUp
            =render partial: "footworkAgility_warmUp"
            %hr/
            %span.label.label-inverse WORKOUT
            %h5 Advanced DB Drills + Combine Agility Drills
            .row-fluid.exercises
              .span6
                %h5 Advanced DB Drills, 4x each, 30sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_dbDrills
                  =render partial: "workouts_dbDrills"
              .span6
                %h5 Combine Agility, 6x each, 45sec rest
                %ul
                  / INSERT RENDER PARTIAL workouts_combineAgility
                  =render partial: "workouts_combineAgility"
            %hr/
            / INSERT RENDER PARTIAL footworkAgility_coolDown
            =render partial: "footworkAgility_coolDown"
            .wo_break Minimum 1-hour training Break
            %h4 WORKOUT II:  UPPERBODY STRENGTH TRAINING
            / INSERT RENDER PARTIAL upperbodyStrength_warmUp
            =render partial: "upperbodyStrength_warmUp"
            %hr/
            .row-fluid
              %span.label.label-inverse WORKOUT
              %h5 Upperbody Strength Training
              .row-fluid
                .span12
                  %h5 Weights: 9RM, 90sec rest/set
                  %table.table.table-striped
                    %tr
                      %th Exercise
                      %th Intensity
                      %th Tempo
                      %th Volume
                      %th Rest
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} DB Press
                        %br/
                        %a.ss_ex{:href => "#"} DB Bent rows
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr.super_set_row
                      %td
                        %span.super_set superset:
                        %a.ss_ex{:href => "#"} DB Incline Bench
                        %br/
                        %a.ss_ex{:href => "#"} Pull-Ups
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} DB shoulder circuit
                      %td 12RM
                      %td
                      %td 3 x (9-9-9-9)
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Arm Circuit (machine)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Ball Crunches
                      %td 20RM
                      %td 3-0-1-1
                      %td 3 x 20
                      %td nonstop
                    %tr
                      %td
                        %a{:href => "#"} torso twists (machine)
                      %td 9RM
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} back extensions
                      %td 9M
                      %td 3-0-1-1
                      %td 3 x 9
                      %td :90
                    %tr
                      %td
                        %a{:href => "#"} Heidi circuit
                      %td body wt.
                      %td Fast
                      %td 3 x (9/exercise)
                      %td :90
            %hr/
            / INSERT RENDER PARTIAL upperbodyStrength_coolDown
            =render partial: "upperbodyStrength_coolDown"
          / close tab-pane fade in active
          / END FRIDAY
          / **************** BEGIN SATURDAY ****************
          #sat.tab-pane.fade
            / Begin tab-pane wed
            %h2 SATURDAY
            %ul.nav.nav-pills
              %li.active
                %a{:href => "#"} Flexibility Training
              %li.active
                %a{:href => "#"} Rest
            .groove-border-eee
            %h4 FLEXIBILITY TRAINING
            / INSERT RENDER PARTIAL flexibilityTraining_warmUp
            =render partial: "flexibilityTraining_warmUp"
            %hr/
            / INSERT RENDER PARTIAL workouts_yoga
            =render partial: "workouts_yoga"
            %hr/
            / INSERT RENDER PARTIAL flexibilityTraining_coolDown
            =render partial: "flexibilityTraining_coolDown"
          / close tab-pane fade in active
          / END SATURDAY
        / close #myTabContent
      / close span9 primary-column
      %section#secondary-nav.span3.sidebar.secondary-column
        %aside.widget.clearfix
          %h5.short_headline
            %span Training Focus
          %ul
            %li
              %p Light workout week designed to stretch the body, stimulate muscular adaptation and establish form and technique in speed, footwork & agility drills.
            %li
              %p Focus on learning the drills.
            %li
              %p Speed training will be extremely light.
        / close aside widget
      / close section sidebar span3
    / close row-fluid
  / close .container id="main-content"
  / close #page
