!!! Strict
!!! XML
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Week 10
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/js/jquery.mousewheel.js", type: "text/javascript"}
    %script{src: "/js/ilightbox.packed.jss", type: "text/javascript"}
    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", rel: "stylesheet"}/

    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}
    %script{src: "/js/jquery.mousewheel.js"}
    %script{src: "/js/ilightbox.packed.js"}

    :css
      .w-timeline-item {
        height: 30px;
        width: 95px;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        border-bottom: none;
        border: 1px solid #0289cc;
        border-bottom: none;
        background-color: #0289cc;
      }
      .w-timeline-item-title {
        font-size: 13px;
        line-height: 30px;
        position: rekative;
        top: 0;
        color: #fff;
        font-weight: bold;
      }
      .w-timeline-item, .w-timeline-section-title {
        box-shadow: none;
      }
      .g-pagination-item.active, 
      .w-timeline-item.active, 
      .w-timeline-section.active 
      .w-timeline-section-title {
        background-color: #fff;
        color: #0289cc;
      }
      .w-timeline-item.active {
        border: 1px solid #ccc;
        border-bottom: none;
      }
      .w-timeline-item.active
      .w-timeline-item-title {
        color: #555;
      }
      .w-timeline-item.w-timeline-item-title {
        color: #fff;
      }
      .w-timeline-list:before, 
      .w-timeline.type_vertical 
      .w-timeline-section:before {
        background-color: #eee;
      }

      .l-content {
        background: #fff;
        padding: 50px 75px;
      }
      
    / CANVAS
  .l-canvas.type_wide.col_sidecont.headertype_extended
    .l-canvas-h.l-canvas-h.workout

      .l-main
        .l-main-h

          .l-submain.workout
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-content
                    .w-blogpost-header
                      %h5.w-blogpost-title Week 10
                      %h1.w-blogpost-title Recover, Recover, Recover
                  
                <!-- W E E K D A Y   T A B S -->
                  
                .w-timeline
                  .w-timeline-h
                    .w-timeline-list
                      .w-timeline-list-h
                        .w-timeline-item.active
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Monday
                        .w-timeline-item
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Tuesday
                        .w-timeline-item
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Wednesday
                        .w-timeline-item
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Thursday
                        .w-timeline-item
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Friday
                        .w-timeline-item
                          %span.w-timeline-item-bullet
                          %span.w-timeline-item-title Saturday




                    .w-timeline-sections
                      
                      <!-- M O N D A Y -->

                      .w-timeline-section.active.animate_afr
                        .w-timeline-section-h
                          .w-timeline-section-title
                            %span.w-timeline-section-title-bullet
                            %span.w-timeline-section-title-text Mon
                          .w-timeline-section-content

                            <!-- S P E E D   T R A I N I N G -->
                                  
                            .w-blogpost-text
                              %h4 
                                %span.highlight workout I:
                                Speed Training
                              %table{style: "width: 100%; text-transform: capitalize;"}
                                %tr
                                  %th Exercise
                                  %th Reps
                                  %th Rest 
                                  %th Videos
                                %tr
                                  %td
                                    %h5 WARM-UP
                                    %h6 1/2 Mile + Warm-Up Stretching
                                    =render partial: "speedTraining_warmUp"
                                  %td 1x
                                  %td N/A
                                  %td nonstop 
                                %tr
                                  %td
                                    %h6 Dynamic Warm-Up
                                  %td 2x
                                  %td nonstop
                                  %td
                                    %a#dynamic_warmup.thumbnail{href: "#"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 Tuck Jumps
                                    %ul
                                      =render partial: "notes_tuckJumps"
                                  %td 4 x 25
                                  %td :30
                                  %td 
                                    %a#video_1.thumbnail{"data-caption" => "Tuck Jumps", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/lDC6JUseImY?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 Single-leg Bounds
                                    %ul
                                      =render partial: "notes_singleLegBounds"
                                  %td 3 x 50 yd
                                  %td :30
                                  %td 
                                    %a#video_2.thumbnail{"data-caption" => "Single-leg Bounds", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/k_p87WaUBkA?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 Broad Jumps
                                    %ul
                                      =render partial: "notes_broadJump"
                                  %td 14x
                                  %td :30
                                  %td 
                                    %a#video_3.thumbnail{"data-caption" => "Broad Jumps", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/n-q45cfvw7I?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 Power Sled
                                    %ul
                                      =render partial: "notes_20ydPowerSled"
                                  %td 4x
                                  %td 2:30
                                  %td 
                                    %a#video_4.thumbnail{"data-caption" => "Power Sled", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/n-q45cfvw7I?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 20-yard Bursts
                                    %ul
                                      =render partial: "notes_20ydBursts"
                                  %td 6x
                                  %td 60-yard walk
                                  %td 
                                    %a#video_5.thumbnail{"data-caption" => "20-yard Bursts", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/OzbQg0TPyV8?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 40-yard Dash
                                    %ul
                                      =render partial: "notes_40Yarddash"
                                  %td 10x
                                  %td 100-yard walk
                                  %td 
                                    %a#video_6.thumbnail{"data-caption" => "40-yard Dash", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/GEMhfaDPqw0?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr.with_notes
                                  %td
                                    %h6 Stadiums/Bleachers
                                    %ul
                                      =render partial: "notes_stadiumsBleachers"
                                  %td 7x
                                  %td :45
                                  %td 
                                    %a#video_7.thumbnail{"data-caption" => "Stadiums/Bleachers", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/toF91t4NsP4?rel=0"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr
                                  %td
                                    %h5 COOL-DOWN
                                    %h6 1/4 Mile + Cool-Down Stretching
                                    =render partial: "speedTraining_coolDown"
                                  %td 1x
                                  %td N/A
                                  %td nonstop


                              = render partial: 'videoPlaylist_LongDrills'

                            .g-hr
                              %span.g-hr-h
                                %i.icon-time

                            <!-- L O W E R - B O D Y   S T R E N G T H   T R A I N I N G --> 
                            
                            .w-blogpost-text
                              %h4 
                                %span.highlight workout II:
                                Lower-body Strength Training
                              %table{style: "width: 100%; text-transform: capitalize;"}
                                %tr
                                  %th Exercise
                                  %th Intensity
                                  %th Tempo
                                  %th Volume
                                  %th Rest
                                %tr
                                  %td
                                    %h5 WARM-UP
                                    %h6 1/2 Mile + Warm-Up Stretching
                                    =render partial: "lowerbodyStrength_warmUp"
                                  %td 1x
                                  %td N/A
                                  %td nonstop
                                  %td 
                                %tr
                                  %td
                                    %a#video_8.thumbnail{"data-caption" => "single-leg squats", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/jepDKUJF4oU?rel=0"} single-leg squats
                                  %td 6RM
                                  %td Fast
                                  %td 4 x 6
                                  %td 3 mins
                                %tr
                                  %td deadlifts (barbell)
                                  %td 6RM
                                  %td Fast
                                  %td 4 x 6
                                  %td 3 mins
                                %tr
                                  %td
                                    %a#video_10.thumbnail{"data-caption" => "single-leg hip extension (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/8MLnUys30vs?rel=0"} single-leg hip extension (cable)
                                  %td 8RM
                                  %td Fast
                                  %td 4 x 8
                                  %td 2 mins
                                %tr
                                  %td
                                    %a#video_11.thumbnail{"data-caption" => "knee raises (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/SZvB_OlNDQ8?rel=0"} knee raises (cable)
                                  %td 8RM
                                  %td Fast
                                  %td 4 x 8
                                  %td 2 mins
                                %tr
                                  %td
                                    %a#video_12.thumbnail{"data-caption" => "hip adductors (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/pUeTEcqTKTE?rel=0"} hip adductors (cable)
                                  %td 8RM
                                  %td Fast
                                  %td 4 x 8
                                  %td 2 mins
                                %tr
                                  %td
                                    %a#video_13.thumbnail{"data-caption" => "hip abductors (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/niNulcHHQjU?rel=0"} hip abductors (cable)
                                  %td 8RM
                                  %td Fast
                                  %td 3 x 8
                                  %td 2 mins
                                %tr
                                  %td
                                    %a#video_14.thumbnail{"data-caption" => "single-leg calf raises", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/2YdKkKT7MZE?rel=0"} single-leg calf raises
                                  %td 8RM
                                  %td Fast
                                  %td 4 x 8
                                  %td 2 mins
                                %tr.super_set_row
                                  %td{colspan: "5"}
                                    %span.super_set superset:
                                %tr.ss
                                  %td
                                    %a#video_15.thumbnail.ss_ex{"data-caption" => "ab wheel", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/ior_yCeBTs4?rel=0"} standing ab wheel 
                                  %td body wt.
                                  %td Fast 
                                  %td 4 x 15
                                  %td n/a
                                %tr.ss.last
                                  %td
                                    %a#video_16.thumbnail.ss_ex{"data-caption" => "torso twists (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/GBXOpkQFuTE?rel=0"} torso twists (cable) 
                                  %td 8RM
                                  %td Fast
                                  %td 4 x 8
                                  %td :90
                                %tr
                                  %td
                                    %h5 COOL-DOWN
                                    %h6 1/4 Mile + Cool-Down Stretching
                                    =render partial: "lowerbodyStrength_coolDown"
                                  %td 1x
                                  %td N/A
                                  %td nonstop
                                  %td 
                            
                            
                           
                            .g-hr
                              %span.g-hr-h
                                %i.icon-chevron-down
                              
                      <!-- T U E S D A Y -->
                      
                      .w-timeline-section
                        .w-timeline-section-h
                          .w-timeline-section-title
                            %span.w-timeline-section-title-bullet
                            %span.w-timeline-section-title-text Tue
                          .w-timeline-section-content

                            <!-- C O R N E R B A C K   D R I L L S -->
                                          
                            .w-blogpost-text
                              %h4 
                                %span.highlight workout I:
                                Cornerback Drills
                              %table{style: "width: 100%; text-transform: capitalize;"}
                                %tr
                                  %th Exercise
                                  %th Reps
                                  %th Rest
                                  %th Videos 
                                %tr
                                  %td
                                    %h5 WARM-UP
                                    %h6 1/2 Mile + Warm-Up Stretching
                                    =render partial: "footworkAgility_warmUp"
                                  %td 1x
                                  %td N/A
                                  %td nonstop
                                %tr
                                  %td
                                    %h6 Ladder Drills
                                  %td 2x
                                  %td :30
                                  %td
                                    %a#ladder_drills.thumbnail{href: "#"}
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr
                                  %td
                                    %h6 DB Drills
                                    %ul
                                      / INSERT RENDER PARTIAL workouts_dbDrills
                                      =render partial: "workouts_dbDrills"
                                  
                                  %td 4x
                                  %td :60
                                  %td
                                    %a#db_drills
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr
                                  %td
                                    %h6 Combine Agility
                                    %ul
                                      / INSERT RENDER PARTIAL workouts_combineAgility
                                      =render partial: "workouts_combineAgility"
                                  %td 6x
                                  %td :45
                                  %td 
                                    %a#combine_agility
                                      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                %tr
                                  %td
                                    %h5 COOL-DOWN
                                    %h6 1/4 Mile + Cool-Down Stretching
                                    =render partial: "footworkAgility_coolDown"
                                  %td 1x
                                  %td N/A
                                  %td nonstop
                              
                              = render partial: 'videoPlaylist_LongDrills'

                              .g-hr
                                %span.g-hr-h
                                  %i.icon-time
                                
                              <!-- U P P E R - B O D Y   S T R E N G T H   T R A I N I N G -->
                                           
                              .w-blogpost-text
                                %h4 
                                  %span.highlight workout II:
                                  Upper-body Strength Training
                                %table{style: "width: 100%; text-transform: capitalize;"}
                                  %tr
                                    %th Exercise
                                    %th Intensity
                                    %th Tempo
                                    %th Volume
                                    %th Rest
                                  %tr
                                    %td
                                      %h5 WARM-UP
                                      %h6 1/2 Mile + Warm-Up Stretching
                                      =render partial: "upperbodyStrength_warmUp"
                                    %td 1x
                                    %td N/A
                                    %td nonstop
                                    %td
                                  %tr
                                    %td
                                      %a#video_17.thumbnail{"data-caption" => "dB press", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/yWj3Iy3VSlU?rel=0"} DB Press
                                    %td 6RM
                                    %td Fast
                                    %td 4 x 6
                                    %td 3 mins
                                  %tr
                                    %td
                                      %a#video_18.thumbnail{"data-caption" => "DB Bent rows", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/bGpLnDy1yJ0?rel=0"} DB Bent Row
                                    %td 6RM
                                    %td Fast
                                    %td 4 x 6
                                    %td 3 mins
                                  %tr
                                    %td
                                      %a#video_19.thumbnail{"data-caption" => "DB Shoulder Press", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/pc7RabGZNV8?rel=0"} DB Shoulder Press
                                    %td 6RM
                                    %td Fast
                                    %td 4 x 6
                                    %td 3 mins
                                  %tr.super_set_row
                                    %td{colspan: "5"}
                                      %span.super_set superset:
                                  %tr.ss
                                    %td Ab Pulldown
                                    %td 8RM
                                    %td Fast
                                    %td 4 x 8
                                    %td 2 mins
                                  %tr.ss.last
                                    %td
                                      %a#video_20.thumbnail{"data-caption" => "back extensions", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/_G0AGE6rXyQ?rel=0"} back extensions
                                    %td 8RM
                                    %td Fast
                                    %td 4 x 8
                                    %td 2 mins
                                  %tr
                                    %td
                                      %a#video_21.thumbnail{"data-caption" => "torso twists (machine)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/rhJVpNvqtgQ?rel=0"} seated torso twists (machine)
                                    %td 8RM
                                    %td Fast
                                    %td 4 x 8
                                    %td 2 mins
                                  %tr
                                    %td
                                      %a#video_23.thumbnail{"data-caption" => "Heidi circuit", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/IMHJAV1Dlc4?rel=0"} Heidi circuit
                                    %td body wt.
                                    %td Fast
                                    %td 3 x (12/exercise)
                                    %td :90
                                  %tr
                                    %td
                                      %h5 COOL-DOWN
                                      %h6 1/4 Mile + Cool-Down Stretching
                                      =render partial: "upperbodyStrength_coolDown"
                                    %td 1x
                                    %td N/A
                                    %td nonstop
                                    %td 
                              
                            
                                .g-hr
                                  %span.g-hr-h
                                    %i.icon-time

                      <!-- W E D N E S D A Y -->

                      .w-timeline-section
                        .w-timeline-section-h
                          .w-timeline-section-title
                            %span.w-timeline-section-title-bullet
                            %span.w-timeline-section-title-text Wed
                          .w-timeline-section-content
                            .w-tabs.layout_accordion.type_toggle
                              .w-tabs-h
                                
                                <!-- C O R N E R B A C K   D R I L L S -->
                                
                                .w-blogpost-text
                                  %h4 
                                    %span.highlight workout I:
                                    Cornerback Drills
                                  %table{style: "width: 100%; text-transform: capitalize;"}
                                    %tr
                                      %th Exercise
                                      %th Reps
                                      %th Rest 
                                      %th Videos
                                    %tr
                                      %td
                                        %h5 WARM-UP
                                        %h6 1/2 Mile + Warm-Up Stretching
                                        =render partial: "footworkAgility_warmUp"
                                      %td 1x
                                      %td N/A
                                      %td nonstop
                                    %tr
                                      %td
                                        %h6 Ladder Drills
                                      %td 2x
                                      %td :30
                                      %td
                                        %a#ladder_drills_2.thumbnail{href: "#"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 100-yard Long Drills
                                        %ul
                                          / INSERT RENDER PARTIAL workouts_long-drills
                                          =render partial: "workouts_long-drills"
                                      
                                      %td 2x
                                      %td :60
                                      %td
                                        %a#long_drills
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td.notes{colspan: "4"}
                                        %ul
                                          %li Long Drills: peform each rep twice before moving on to the next
                                          %li Long Drill: 60 second rest per repetition 
                                    %tr
                                      %td
                                        %h6{:href => "#"} Box Drill
                                      %td 3x
                                      %td :60
                                      %td 
                                        %a#box_drill
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td
                                        %h5 COOL-DOWN
                                        %h6 1/4 Mile + Cool-Down Stretching
                                        =render partial: "footworkAgility_coolDown"
                                      %td 1x
                                      %td N/A
                                      %td nonstop

                                  = render partial: 'videoPlaylist_LongDrills'    
                                    
                      <!-- T H U R S D A Y -->
                                
                      .w-timeline-section
                        .w-timeline-section-h
                          .w-timeline-section-title
                            %span.w-timeline-section-title-bullet
                            %span.w-timeline-section-title-text Thu
                          .w-timeline-section-content
                            .w-tabs.layout_accordion.type_toggle
                              .w-tabs-h
                                
                                <!-- S P E E D   T R A I N I N G -->
                                    
                                .w-blogpost-text
                                  %h4 
                                    %span.highlight workout I:
                                    Speed Training
                                  %table{style: "width: 100%; text-transform: capitalize;"}
                                    %tr
                                      %th Exercise
                                      %th Reps
                                      %th Rest 
                                      %th Videos
                                    %tr
                                      %td
                                        %h5 WARM-UP
                                        %h6 1/2 Mile + Warm-Up Stretching
                                        =render partial: "speedTraining_warmUp"
                                      %td 1x
                                      %td N/A
                                      %td nonstop
                                    %tr
                                      %td
                                        %h6 Dynamic Warm-Up
                                      %td 2x
                                      %td nonstop
                                      %td
                                        %a#dynamic_warmup_2.thumbnail{href: "#"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 Tuck Jumps
                                        %ul
                                          =render partial: "notes_tuckJumps"
                                      %td 4 x 25
                                      %td :30
                                      %td 
                                        %a#video_24.thumbnail{"data-caption" => "Tuck Jumps", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/lDC6JUseImY?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 Single-leg Bounds
                                        %ul
                                          =render partial: "notes_singleLegBounds"

                                      %td 3 x 50 yd
                                      %td :30
                                      %td 
                                        %a#video_25.thumbnail{"data-caption" => "Single-leg Bounds", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/k_p87WaUBkA?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 Broad Jumps
                                        %ul
                                          =render partial: "notes_broadJump"
                                      %td 14x
                                      %td :30
                                      %td 
                                        %a#video_26.thumbnail{"data-caption" => "Broad Jumps", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/n-q45cfvw7I?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 Power Sled
                                        %ul
                                          =render partial: "notes_20ydPowerSled"
                                      %td 4x
                                      %td 2:30
                                      %td 
                                        %a#video_27.thumbnail{"data-caption" => "Power Sled", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/n-q45cfvw7I?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 20-yard Bursts
                                        %ul
                                          =render partial: "notes_20ydBursts"
                                      %td 6x
                                      %td 60-yard walk
                                      %td 
                                        %a#video_28.thumbnail{"data-caption" => "20-yard Bursts", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/OzbQg0TPyV8?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 40-yard Dash
                                        %ul
                                          =render partial: "notes_40Yarddash"
                                      %td 10x
                                      %td 100-yard walk
                                      %td 
                                        %a#video_29.thumbnail{"data-caption" => "40-yard Dash", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/GEMhfaDPqw0?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr.with_notes
                                      %td
                                        %h6 Stadiums/Bleachers
                                        %ul
                                          =render partial: "notes_stadiumsBleachers"
                                      %td 7x
                                      %td :45
                                      %td 
                                        %a#video_30.thumbnail{"data-caption" => "Stadiums/Bleachers", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/toF91t4NsP4?rel=0"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td
                                        %h5 COOL-DOWN
                                        %h6 1/4 Mile + Cool-Down Stretching
                                        =render partial: "upperbodyStrength_coolDown"
                                      %td 1x
                                      %td N/A
                                      %td nonstop

                                .g-hr
                                  %span.g-hr-h
                                    %i.icon-time      

                                <!-- L O W E R - B O D Y   S T R E N G T H   T R A I N I N G -->

                                .w-blogpost-text
                                  %h4 
                                    %span.highlight workout II:
                                    Lower-body Strength Training
                                  %table{style: "width: 100%; text-transform: capitalize;"}
                                    %tr
                                      %th Exercise
                                      %th Intensity
                                      %th Tempo
                                      %th Volume
                                      %th Rest
                                    %tr
                                      %td
                                        %h5 WARM-UP
                                        %h6 1/2 Mile + Warm-Up Stretching
                                        =render partial: "lowerbodyStrength_warmUp"
                                      %td 1x
                                      %td N/A
                                      %td nonstop
                                      %td 
                                    %tr
                                      %td
                                        %a#video_31.thumbnail{"data-caption" => "step ups", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/NcMPnSQn93U?rel=0"} DB step ups
                                      %td 6RM
                                      %td Fast
                                      %td 4 x 6
                                      %td 3 mins
                                    %tr
                                      %td deadlifts (barbell)
                                      %td 5RM
                                      %td Fast
                                      %td 4 x 6
                                      %td 3 mins
                                    %tr
                                      %td
                                        %a#video_33.thumbnail{"data-caption" => "single-leg hip extension (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/8MLnUys30vs?rel=0"} single-leg hip extension (cable)
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td 2 mins
                                    %tr
                                      %td
                                        %a#video_34.thumbnail{"data-caption" => "knee raises (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/SZvB_OlNDQ8?rel=0"} knee raises (cable)
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td 2 mins
                                    %tr
                                      %td
                                        %a#video_35.thumbnail{"data-caption" => "hip adductors (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/pUeTEcqTKTE?rel=0"} hip adductors (cable)
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td 2 mins
                                    %tr
                                      %td
                                        %a#video_36.thumbnail{"data-caption" => "hip abductors (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/niNulcHHQjU?rel=0"} hip abductors (cable)
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td 2 mins
                                    %tr
                                      %td
                                        %a#video_37.thumbnail{"data-caption" => "single-leg calf raises", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/2YdKkKT7MZE?rel=0"} single-leg calf raises
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td 2 mins
                                    %tr.super_set_row
                                      %td{colspan: "5"}
                                        %span.super_set superset:
                                    %tr.ss
                                      %td
                                        %a#video_38.thumbnail{"data-caption" => "standing ab wheel", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/ior_yCeBTs4?rel=0"} standing ab wheel 
                                      %td body wt.
                                      %td Fast 
                                      %td 4 x 15
                                      %td nonstop
                                    %tr.ss.last
                                      %td
                                        %a#video_39.thumbnail{"data-caption" => "torso twists (cable)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/rnlz4T123lM?rel=0"} torso twists (cable) 
                                      %td 8RM
                                      %td Fast
                                      %td 4 x 8
                                      %td :90
                                    %tr
                                      %td
                                        %h5 COOL-DOWN
                                        %h6 1/4 Mile + Cool-Down Stretching
                                        =render partial: "lowerbodyStrength_coolDown"
                                      %td 1x
                                      %td N/A
                                      %td nonstop
                                      %td 

                      <!-- F R I D A Y -->

                      .w-timeline-section
                        .w-timeline-section-h
                          .w-timeline-section-title
                            %span.w-timeline-section-title-bullet
                            %span.w-timeline-section-title-text Fri
                          .w-timeline-section-content
                            .w-tabs.layout_accordion.type_toggle
                              .w-tabs-h

                                <!-- C O R N E R B A C K   D R I L L S -->

                                .w-blogpost-text
                                  %h4 
                                    %span.highlight workout I:
                                    Cornerback Drills
                                  %table{style: "width: 100%; text-transform: capitalize;"}
                                    %tr
                                      %th Exercise
                                      %th Reps
                                      %th Rest 
                                      %th Videos
                                    %tr
                                      %td
                                        %h5 WARM-UP
                                        %h6 1/2 Mile + Warm-Up Stretching
                                        =render partial: "speedTraining_warmUp"
                                      %td 1x
                                      %td N/A
                                      %td nonstop 
                                    %tr
                                      %td
                                        %h6 Ladder Drills
                                      %td 2x
                                      %td :30
                                      %td
                                        %a#ladder_drills_3.thumbnail{href: "#"}
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td
                                        %h6 DB Drills
                                        %ul
                                          =render partial: "workouts_dbDrills"
                                      
                                      %td 4x
                                      %td :60
                                      %td
                                        %a#db_drills_2
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td
                                        %h6 Combine Agility
                                        %ul
                                          =render partial: "workouts_combineAgility"
                                      %td 8x
                                      %td :45
                                      %td 
                                        %a#combine_agility_2
                                          %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
                                    %tr
                                      %td
                                        %h5 COOL-DOWN
                                        %h6 1/4 Mile + Cool-Down Stretching
                                        =render partial: "speedTraining_coolDown"
                                      %td 1x
                                      %td N/A
                                      %td nonstop


                                  = render partial: 'videoPlaylist_LongDrills'
                                    

                                  .g-hr
                                    %span.g-hr-h
                                      %i.icon-time

                                  <!-- U P P E R - B O D Y   S T R E N G T H   T R A I N I N G -->

                                  .w-blogpost-text
                                    %h4 
                                      %span.highlight workout II:
                                      Upper-body Strength Training
                                    %table{style: "width: 100%; text-transform: capitalize;"}
                                      %tr
                                        %th Exercise
                                        %th Intensity
                                        %th Tempo
                                        %th Volume
                                        %th Rest
                                      %tr
                                        %td
                                          %h5 WARM-UP
                                          %h6 1/2 Mile + Warm-Up Stretching
                                          =render partial: "lowerbodyStrength_warmUp"
                                        %td 1x
                                        %td N/A
                                        %td nonstop
                                        %td 
                                      %tr
                                        %td
                                          %a#video_40.thumbnail.ss_ex{"data-caption" => "dB press", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/yWj3Iy3VSlU?rel=0"} DB Press
                                        %td 6RM
                                        %td Fast
                                        %td 4 x 6
                                        %td 3 mins
                                      %tr
                                        %td
                                          %a#video_41.thumbnail.ss_ex{"data-caption" => "DB Bent rows", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/bGpLnDy1yJ0?rel=0"} DB Bent Row
                                        %td 6RM
                                        %td Fast
                                        %td 4 x 6
                                        %td 3 mins
                                      %tr
                                        %td
                                          %a#video_42.thumbnail{"data-caption" => "DB shoulder press", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/yWj3Iy3VSlU?rel=0"} DB Shoulder Press
                                        %td 6RM
                                        %td Fast
                                        %td 4 x 6
                                        %td 3 mins
                                      %tr.super_set_row
                                        %td{colspan: "5"}
                                          %span.super_set superset:
                                      %tr.ss
                                        %td Ab Pulldown
                                        %td 8RM
                                        %td Fast
                                        %td 4 x 8
                                        %td 2 mins
                                      %tr.ss.last
                                        %td
                                          %a#video_20.thumbnail{"data-caption" => "seated torso twists", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/_G0AGE6rXyQ?rel=0"} back extensions
                                        %td 8RM
                                        %td Fast
                                        %td 4 x 8
                                        %td 2 mins
                                      %tr
                                        %td
                                          %a#video_44.thumbnail{"data-caption" => "torso twists (machine)", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/rhJVpNvqtgQ?rel=0"} torso twists (machine)
                                        %td 8RM
                                        %td Fast
                                        %td 4 x 8
                                        %td 2 mins
                                      %tr
                                        %td
                                          %a#video_46.thumbnail{"data-caption" => "Heidi circuit", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/IMHJAV1Dlc4?rel=0"} Heidi circuit
                                        %td body wt.
                                        %td Fast
                                        %td 3 x (12/exercise)
                                        %td :90
                                      %tr
                                        %td
                                          %h5 COOL-DOWN
                                          %h6 1/4 Mile + Cool-Down Stretching
                                          =render partial: "lowerbodyStrength_coolDown"
                                        %td 1x
                                        %td N/A
                                        %td nonstop
                                        %td 
  
                            <!-- S A T U R D A Y -->            

                            .w-timeline-section
                              .w-timeline-section-h
                                .w-timeline-section-title
                                  %span.w-timeline-section-title-bullet
                                  %span.w-timeline-section-title-text Sat
                                .w-timeline-section-content
                                  .w-tabs.layout_accordion.type_toggle
                                    .w-tabs-h
                                      .w-blogpost-text

                                      <!-- Y O G A -->

                                      .w-blogpost-text
                                        %h4 
                                          %span.highlight workout I:
                                          Flexibility Training
                                        %table{style: "width: 100%; text-transform: capitalize;"}
                                          %tr
                                            %th Exercise
                                            %th Reps
                                            %th Intensity
                                            %th Rest 
                                          %tr
                                            %td
                                              %h5 WARM-UP
                                              %h6 1/2 Mile + Warm-Up Stretching
                                              =render partial: "flexibilityTraining_warmUp"
                                            %td 1x
                                            %td N/A
                                            %td nonstop
                                          %tr
                                            %td
                                              =render partial: "workouts_yoga"
                                            %td 1x
                                            %td N/A
                                            %td nonstop
                                             
                                          %tr
                                            %td
                                              %h5 COOL-DOWN
                                              %h6 1/4 Mile + Cool-Down Stretching
                                              =render partial: "flexibilityTraining_warmUp"
                                            %td 1x
                                            %td N/A
                                            %td nonstop
                                          


                
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "disqus"


              .l-sidebar.at_left
                .l-sidebar-h
                  .widget.workout-lists
                    =render partial: "nav_workoutweeks"


                  
                
                   
            
    / FOOTER
    .l-footer.type_normal
      .l-footer-h
        / subfooter: bottom
        .l-subfooter.at_bottom
          .l-subfooter-h.i-cf
            .w-copyright
               2013 All rights reserved.
              %a{href: ""} TrainForFootball.com
            / NAV
            %nav.w-nav
              .w-nav-h
                .w-nav-list.layout_hor.width_auto.float_right.level_1
                  .w-nav-list-h
                    .w-nav-item.level_1
                      .w-nav-item-h
                        %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                    .w-nav-item.level_1
                      .w-nav-item-h
                        %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
    / /FOOTER
    %a.w-toplink{href: "#"}
      %i.icon-angle-up



    :javascript
      //Video - Simple Usage
            $('#video_1').iLightBox();
            $('#video_2').iLightBox();
            $('#video_3').iLightBox();
            $('#video_3').iLightBox();
            $('#video_4').iLightBox();
            $('#video_5').iLightBox();
            $('#video_6').iLightBox();
            $('#video_7').iLightBox();
            $('#video_8').iLightBox();
            $('#video_9').iLightBox();
            $('#video_10').iLightBox();

            $('#video_11').iLightBox();
            $('#video_12').iLightBox();
            $('#video_13').iLightBox();
            $('#video_14').iLightBox();
            $('#video_15').iLightBox();
            $('#video_16').iLightBox();
            $('#video_17').iLightBox();
            $('#video_18').iLightBox();
            $('#video_19').iLightBox();
            $('#video_20').iLightBox();

            $('#video_21').iLightBox();
            $('#video_22').iLightBox();
            $('#video_23').iLightBox();
            $('#video_24').iLightBox();
            $('#video_25').iLightBox();
            $('#video_26').iLightBox();
            $('#video_27').iLightBox();
            $('#video_28').iLightBox();
            $('#video_29').iLightBox();
            $('#video_30').iLightBox();
            
            $('#video_31').iLightBox();
            $('#video_32').iLightBox();
            $('#video_33').iLightBox();
            $('#video_34').iLightBox();
            $('#video_35').iLightBox();
            $('#video_36').iLightBox();
            $('#video_37').iLightBox();
            $('#video_38').iLightBox();
            $('#video_39').iLightBox();
            $('#video_40').iLightBox();


    