%h5.short_headline
  %span Beyond The Program
%ul.navigation
  %li
    %a{:href => "cornerback-experience-level.html"} Ball Skills
  %li
    %a{:href => "cornerback-strength-training-level.html"} Cornerback IQ
  %li
    %a{:href => "cornerback-injuries.html"} Tackling
  %li
    %a{:href => "cornerback-training-alternatives.html"} Returning
