%h5.short_headline
  %span Getting Started
%ul.navigation
  %li
    %a{:href => "cornerback-training-find-a-gym.html"} Find a Gym
  %li
    %a{:href => "cornerback-training-find-a-field.html"} Find a Field
  %li
    %a{:href => "cornerback-training-find-a-track.html"} Find a Track
  %li
    %a{:href => "cornerback-training-incline-training.html"} Incline Training
  %li
    %a{:href => "cornerback-training-equipment-guide.html"} Getting Equipment
