%h5.short_headline
  %span Beyond The Program
%ul.navigation
  %li
    %a{:href => "cornerback-training-ball-skills.html"} Ball Skills
  %li
    %a{:href => "cornerback-training-iq.html"} Cornerback IQ
  %li
    %a{:href => "cornerback-training-tackling.html"} Tackling
  %li
    %a{:href => "cornerback-training-returning.html"} Returning
  %li
    %a{:href => "cornerback-training-recruiting.html"} Recruiting
