%h5.short_headline
  %span Training Insight
%ul.navigation
  %li
    %a{:href => "cornerback-training-maximized.html"} How to maximize your training
  %li
    %a{:href => "cornerback-training-nutrition.html"} How to Fuel Performance
  %li
    %a{:href => "cornerback-training-injury-free.html"} How to stay injury-free
