%h4 Workouts
%ul.workout-list
  %li.completed
    %a{:href => "6d_week1.htm"} Week 1: The Warm-Up
  %li.completed 
    %a{:href => "6d_week2.htm"} Week 2: Oiling the Gears
  %li.completed 
    %a{:href => "6d_week3.htm"} Week 3: Ready for Action
  %li.completed 
    %a{:href => "6d_week4.htm"} Week 4: Training Wheels Off 
  %li 
    %a{:href => "6d_week5.htm"} Week 5: Turn up the Volume
  %li 
    %a{:href => "6d_week6.htm"} Week 6: No Technique Leaks
  %li 
    %a{:href => "6d_week7.htm"} Week 7: The DB Two-Step
  %li 
    %a{:href => "6d_week8.htm"} Week 8: Deep Cover
  %li 
    %a{:href => "6d_week9.htm"} Week 9: Breaks on, Brakes Off
  %li 
    %a{:href => "6d_week10.htm"} Week 10: Recover, Recover...
  %li 
    %a{:href => "6d_week11.htm"} Week 11: One-on-One Grid Lock
  %li 
    %a{:href => "6d_week12.htm"} Week 12: DB Maximum Strength
  %li 
    %a{:href => "6d_week13.htm"} Week 13: Fast and Furious
  %li 
    %a{:href => "6d_week14.htm"} Week 14: Needle in a Haystack
  %li 
    %a{:href => "6d_week15.htm"} Week 15: Becoming a Reciever
  %li 
    %a{:href => "6d_week16.htm"} Week 16: Standing your Ground
  %li 
    %a{:href => "6d_week17.htm"} Week 17: Locked and Loaded
  %li 
    %a{:href => "6d_week18.htm"} Week 18: Ready for War