.w-tabs.layout_accordion.type_toggle
  .w-tabs-h
    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Myofascial Release
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li Calf
                %li
                  %a#video_87.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/gguhZuGd01Y?rel=0"} Hamstring
                %li
                  %a#video_86.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/6K2H7HuDvTA?rel=0"} IT Band
                %li
                  %a#video_85.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/Pl_2E29xlEg?rel=0"} Groin
                %li
                  %a#video_84.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/1su6GPFVgMA?rel=0"} Quad
                %li
                  %a#video_83.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/j5l4uw-K4ek?rel=0"} Hip Flexor
                %li 
                  %a#video_82.thumbnail{"data-caption" => "DB side step-up hops", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/nqttHdUXg_k?rel=0"} Back

    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Seated Stretches
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li
                  %a.thumbnail{"data-id" => "Butterfly Stretch", "data-options" => "thumbnail: '/img/stretching/groin-butterfly-front.jpg'", href: "/img/stretching/groin-butterfly-front.jpg"} butterfly Groin Stretch

                  %a.thumbnail{"data-id" => "Butterfly Stretch", "data-options" => "thumbnail: '/img/stretching/groin-butterfly.jpg'", href: "/img/stretching/groin-butterfly.jpg"}

                
                %li
                  %a.thumbnail{"data-id" => "Hurdle Stretch", "data-options" => "thumbnail: '/img/stretching/ham-hurdle-front.jpg'", href: "/img/stretching/ham-hurdle-front.jpg"} hurdle Stretch

                  %a.thumbnail{"data-id" => "Hurdle Stretch", "data-options" => "thumbnail: '/img/stretching/ham-hurdle-left.jpg'", href: "/img/stretching/ham-hurdle-left.jpg"}

                %li
                  %a.thumbnail{"data-id" => "Playboys", "data-options" => "thumbnail: '/img/stretching/playboys-front.jpg'", href: "/img/stretching/playboys-front.jpg"} playboys

                %li
                  %a.thumbnail{"data-id" => "Supine Glute", "data-options" => "thumbnail: '/img/stretching/glute-supine.jpg'", href: "/img/stretching/glute-supine.jpg"} supine glute
                  
                %li
                  %a.thumbnail{"data-id" => "Supine Cross", "data-options" => "thumbnail: '/img/stretching/supine-cross.jpg'", href: "/img/stretching/supine-cross.jpg"} supine cross

                %li cobra
    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Standing Stretches
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li
                  %a.thumbnail{"data-id" => "Hamstring Grab", "data-options" => "thumbnail: '/img/stretching/ham-grab-calf.jpg'", href: "/img/stretching/ham-grab-calf.jpg"} Hamstring Grab
                %li
                  %a.thumbnail{"data-id" => "Leaning Groin", "data-options" => "thumbnail: '/img/stretching/groin.jpg'", href: "/img/stretching/groin.jpg"} leaning groin
                %li
                  %a.thumbnail{"data-id" => "Ankle Grabs", "data-options" => "thumbnail: '/img/stretching/ham-groin-ankle.jpg'", href: "/img/stretching/ham-groin-ankle.jpg"} ankle grabs
                %li
                  %a.thumbnail{"data-id" => "Hip Flexor", "data-options" => "thumbnail: '/img/stretching/hip-flexor.jpg'", href: "/img/stretching/hip-flexor.jpg"} hip flexor

                  %a.thumbnail{"data-id" => "Hip Flexor", "data-options" => "thumbnail: '/img/stretching/hip-flexor-front.jpg'", href: "/img/stretching/hip-flexor-front.jpg"}
                %li
                  %a.thumbnail{"data-id" => "Quad Stretch", "data-options" => "thumbnail: '/img/stretching/quad-stretch-front.jpg'", href: "/img/stretching/quad-stretch-front.jpg"} quad

                  %a.thumbnail{"data-id" => "Quad Stretch", "data-options" => "thumbnail: '/img/stretching/quad-stretch.jpg'", href: "/img/stretching/quad-stretch.jpg"}

                %li
                  %a.thumbnail{"data-id" => "Dorsiflexed Calf", "data-options" => "thumbnail: '/img/stretching/calf-grab-pole.jpg'", href: "/img/stretching/calf-grab-pole.jpg"} dorsiflexed calf
                %li
                  %a.thumbnail{"data-id" => "Leaning Calf", "data-options" => "thumbnail: '/img/stretching/calf-flat.jpg'", href: "/img/stretching/calf-flat.jpg"} leaning calf
       



:javascript
  //Video - Simple Usage
  $('#video_88').iLightBox();
  $('#video_87').iLightBox();
  $('#video_86').iLightBox();
  $('#video_85').iLightBox();
  $('#video_84').iLightBox();
  $('#video_83').iLightBox();
  $('#video_82').iLightBox();





