%li.completed
  %a{:href => "cornerback-training-goals.html"} Training Goals
%li.completed 
  %a{:href => "cornerback-training-phases.html"} Phases I, II, III
%li.completed 
  %a{:href => "cornerback-training-weekly-breakdown.html"} 18-Week BreaKdown
%li.completed 
  %a{:href => "cornerback-training-schedule.html"} Schedule
%li.completed 
  %a{:href => "cornerback-training-workout-structure"} Workouts