%li.completed
  %a{:href => "cornerback-training-goals.html"} Training Goals
%li 
  %a{:href => "cornerback-training-phases.html"} Phases I, II, III
%li 
  %a{:href => "cornerback-training-weekly-breakdown.html"} 18-Week Breakdown
%li 
  %a{:href => "cornerback-training-schedule.html"} Schedule
%li 
  %a{:href => "cornerback-training-workout-structure"} Workouts