%h5.short_headline
  %span Overview
%ul.navigation
  %li
    %a{:href => "cornerback-training-goals.html"} Training Goals
  %li
    %a{:href => "cornerback-training-phases.html"} Phase I, II, III
  %li
    %a{:href => "cornerback-training-program-weekly-breadown.html"} 18-week Breakdown
  %li
    %a{:href => "cornerback-training-schedule.html"} Schedule
  %li
    %a{:href => "cornerback-training-workout-structure.html"} Workout Structure
