%li You can hit 1 step at a time (quick feet), 2 steps at a time (bursts) or 3 steps at a time (strides / explosiveness), or mix it up.
%li Jog down the steps for Active Recovery.
%li Rest for 45 sec at bottom of stadiums/bleachers.
