%li Alternate your starting leg.
%li Burst 40-yards and complete your deceleratation over the following 20-40yards.
%li
  %b> 100-yard Active Recovery (AR)
  \: after each rep walk back to your starting point (~60 yard walk), then turn around and walk 40 yards to begin a new rep facing the opposite direction.
