%li Alternate your starting leg.
%li Burst 20-yards and complete your deceleratation over the following 20-yards.
%li
  %b> 60-yard Active Recovery (AR)
  \: After each rep walk back to your starting point (40 yard walk), then turn around and walk 20 yards to begin a new rep facing the opposite direction.
