.row-fluid.toc_header
  %h1 Beyond The Program
  %p.lead A complete overview of the 18-week Cornerback Training Program
  .groove-border-eee
.row-fluid
  #toc
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-ball-skills.html"} Ball Skills
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-IQ.html"} Cornerback IQ
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-tackling.html"} Tackling
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-returning.html"} Returning
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-recruiting.html"} Recruiting
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
