.row-fluid.toc_header
  %h1 Overview
  %p.lead A complete overview of the 18-week Cornerback Training Program
  .groove-border-eee
.row-fluid
  #toc
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-goals.html"} Training Goals
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-phases.html"} Phases I, II, III
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-weekly-breakdown.html"} 18-Week Breadown
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-schedule.html"} Training Schedule
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-workout-structure.html"} Workout Structure
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
