.row-fluid.toc_header
  %h1 Training Insight
  %p.lead A complete overview of the 18-week Cornerback Training Program
  .groove-border-eee
.row-fluid
  #toc
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-maximized.html"} How to Maximize Your Training
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-injury-free.html"} How to Stay Injury-Free
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-nutrition.html"} How to Fuel Performance
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
