.row-fluid.toc_header
  %h1 Getting Started
  %p.lead A complete overview of the 18-week Cornerback Training Program
  .groove-border-eee
.row-fluid
  #toc
    %%article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-find-a-gym.html"} Choosing a Gym
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-find-a-field.html"} Choosing a Field
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-find-a-track.html#"} Choosing a Track
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-incline-training.html"} Incline Training
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
    %article.row-fluid
      .span4
        %img{:src => "/assets/db_thumb_stretching.jpg"}/
      .span8
        %h2
          %a{:href => "/pages/cornerback-training-equipment-guide.html"} Getting Equipment
        %p Your guide to maximizing cornerback training by make sure that your training facility is equipped with the strength, power, and flexibility tools.
