.w-tabs.layout_accordion.type_toggle
  .w-tabs-h
    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Myofascial Release
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li Upperback
                %li lats
    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Seated Stretches
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li
                  %a.thumbnail{"data-id" => "Playboys", "data-options" => "thumbnail: '/img/stretching/playboys-front.jpg'", href: "/img/stretching/playboys-front.jpg"} playboys
                %li cobra
    .w-tabs-section
      .w-tabs-section-title
        %span.w-tabs-section-title-text Standing Stretches
      .w-tabs-section-content
        .w-tabs-section-content-h
          .container.navbar-wrapper
            .featurette
              %h6 (30 Second Hold)
              %ul#images
                %li front arm swings
                %li front elbow grab
                %li upper elbow grab
                %li assisted shoulder
                %li trunk rotations
                %li head tilts
   