:javascript
    $(document).ready(function(){
    
      window.prettyPrint && prettyPrint();
      
      var winWidth = $(window).width(),
      thumbs = (winWidth > 767) ? true : false;
      
      console.log(winWidth);

      
      //Advanced Examples - Mixed & Google Maps
      $('#db_drills').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/z1svnTZO9m0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/KSPM942wG24?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/open-hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/rbpsANQbsc0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/45-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/DEOIL8-sOX0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/90-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/6a0EDBEoN2g?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/yBgojT8A4j8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-slow-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-45-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-315-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

       $('#db_drills_2').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/z1svnTZO9m0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/KSPM942wG24?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/open-hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/rbpsANQbsc0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/45-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/DEOIL8-sOX0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/90-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/6a0EDBEoN2g?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/yBgojT8A4j8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails///www.youtube.com/embed/TYGhrJ5tFEw?rel=0",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-315-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });
      
    });
    
    $(window).load(function(){
      $('[data-spy="scroll"]').each(function () {
        var t = $(this);
        t.scrollspy();
        $(window).resize(function(){
          t.scrollspy('refresh');
          $(this).trigger('scroll');
        });
      });
    });
    
    window.___gcfg = {lang: "en"};
    (function() {
      var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
      po.src = "https://apis.google.com/js/plusone.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
    })();