.v-playlist
  %h2 VIDEO PLAYLIST
  %ul
    %li
      %img{alt: "", src: "/img/video_thumbnails/ladder-drills-backwards-lateral-movement.jpg"}/
      .description 
        .v-titles
          %h4 Lateral
          %p Ladder Drills
        .v-info
          %h6 0:17
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/ladder-drills-lateral-hops.jpg"}/
      .description 
        .v-titles
          %h4 Lateral w/hop
          %p Ladder Drills
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/ladder-drills-backwards-lateral-movement.jpg"}/
      .description 
        .v-titles
          %h4 Backwards Lateral
          %p Ladder Drills
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/sumo-stretch.jpg"}/
      .description 
        .v-titles
          %h4 Sidestep
          %p Ladder Drills
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/ladder-drills-ins-and-outs.jpg"}/
      .description 
        .v-titles
          %h4 Ins-and-Outs
          %p Ladder Drills
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/20-yard-short-shuttle.jpg"}/
      .description 
        .v-titles
          %h4 20-yd short shuttle
          %p Combine Agility Drills
        .v-info
          %h6 0:36
          %a.w-pagehead-nav-item.type_prev{:href => "l-drill.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/l-drill.jpg"}/
      .description 
        .v-titles
          %h4 L-Drill
          %p Combine Agility Drills
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
