:javascript
    $(document).ready(function(){
    
      window.prettyPrint && prettyPrint();
      
      var winWidth = $(window).width(),
      thumbs = (winWidth > 767) ? true : false;
      
      console.log(winWidth);

      //Advanced Examples - Mixed & Google Maps
      $('#long_drills').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/X7PAaQGTYxg?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-hip-flips.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/jFuXYRmpry8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-slow-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/1peiv2GQ6og?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/d07geCT53UU?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-weave.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

       $('#box_drill').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/5L6waFfNtSA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/box-drill.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#long_drills_2').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/X7PAaQGTYxg?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-hip-flips.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/jFuXYRmpry8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-slow-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/1peiv2GQ6og?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/d07geCT53UU?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/long-weave.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#combine_agility').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/hb-w0fhwkOk?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/NVl_IFepdLQ?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/l-drill.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

       $('#combine_agility_2').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/hb-w0fhwkOk?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/NVl_IFepdLQ?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/l-drill.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#db_drills').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/z1svnTZO9m0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/KSPM942wG24?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/open-hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/rbpsANQbsc0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/45-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/DEOIL8-sOX0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/90-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/6a0EDBEoN2g?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/yBgojT8A4j8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-slow-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-45-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-315-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

       $('#db_drills_2').click(function(){
        $.iLightBox(
          [
            {
               URL: "//www.youtube.com/embed/z1svnTZO9m0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/KSPM942wG24?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/open-hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/rbpsANQbsc0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/45-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/DEOIL8-sOX0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/90-degree-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/6a0EDBEoN2g?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/yBgojT8A4j8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails///www.youtube.com/embed/TYGhrJ5tFEw?rel=0",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-315-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#adv_db_drills').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/KSPM942wG24?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/open-hitch-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/LQvz4x3sID0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hitch-n-go-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/3ulpc9fDiiM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/whip-route.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/n0kcPCx9stE?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/out-n-in-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/3-o2-6DIGD0?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/out-n-up-breaks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/dqek8gBFX54?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/dig-routes.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-speed-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/yBgojT8A4j8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/post-corner-slow-turns.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/TYGhrJ5tFEw?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-45-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/hip-flips-315-degree-break.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });


      $('#dynamic_warmup').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/Onj6Ccim6_I?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/knee-grab.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/WxDOB4_uwFI?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/whirl-kicks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/uV0vOHONbYY?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/sumo-stretch.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/B6UcBr61SfM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/high-kicks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/_mLkvFjCXSg?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/walking-hamstring-stretch.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/M-nxf3uLEKI?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/walking-lunges.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#dynamic_warmup_2').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/Onj6Ccim6_I?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/knee-grab.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/WxDOB4_uwFI?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/whirl-kicks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/uV0vOHONbYY?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/sumo-stretch.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/B6UcBr61SfM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/high-kicks.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
               URL: "//www.youtube.com/embed/_mLkvFjCXSg?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/walking-hamstring-stretch.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/M-nxf3uLEKI?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/walking-lunges.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#ladder_drills').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/mf5dzzbUoOk?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-sidestep.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cHoZyUv--ZM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/dWrrXXzxPB8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-backwards-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/i2jNcCT-2qE?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-ins-and-outs.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cAxvNI9naUY?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-hops.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

       $('#ladder_drills_2').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/mf5dzzbUoOk?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-sidestep.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cHoZyUv--ZM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/dWrrXXzxPB8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-backwards-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/i2jNcCT-2qE?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-ins-and-outs.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cAxvNI9naUY?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-hops.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });

      $('#ladder_drills_3').click(function(){
        $.iLightBox(
          [
            {
              URL: "//www.youtube.com/embed/mf5dzzbUoOk?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-sidestep.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cHoZyUv--ZM?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
             URL: "//www.youtube.com/embed/dWrrXXzxPB8?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-backwards-lateral-movement.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/i2jNcCT-2qE?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-ins-and-outs.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
            {
              URL: "//www.youtube.com/embed/cAxvNI9naUY?rel=0",
              options: {
                thumbnail: "/img/video_thumbnails/ladder-drills-lateral-hops.jpg",
                fullViewPort: 'stretch',
                icon: "video",
                width: 1280,
                height: 720
              }
            },
          ],
          {
            path: 'horizontal',
            skin: 'metro-black',
            styles: {
              nextOpacity: 0,
              prevOpacity: 0
            },
            controls: {
              thumbnail: thumbs
            }
          }
        );
        return false;
      });
      
      
    });
    
    $(window).load(function(){
      $('[data-spy="scroll"]').each(function () {
        var t = $(this);
        t.scrollspy();
        $(window).resize(function(){
          t.scrollspy('refresh');
          $(this).trigger('scroll');
        });
      });
    });
    
    window.___gcfg = {lang: "en"};
    (function() {
      var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
      po.src = "https://apis.google.com/js/plusone.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
    })();