.v-playlist
  %h2 VIDEO PLAYLIST
  %ul
    %li
      %img{alt: "", src: "/img/video_thumbnails/high-knees.jpg"}/
      .description 
        .v-titles
          %h4 high knees
          %p Speed Technique
        .v-info
          %h6 0:17
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/turnover-strikes.jpg"}/
      .description 
        .v-titles
          %h4 turnover strikes 
          %p Speed Technique
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/turnover-kicks.jpg"}/
      .description 
        .v-titles
          %h4 turnover kicks
          %p Speed Technique
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/ab-skips.jpg"}/
      .description 
        .v-titles
          %h4 A/B skips
          %p Speed Technique
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/arm-swings.jpg"}/
      .description 
        .v-titles
          %h4 arm swings
          %p Speed Technique
        .v-info
          %h6 0:36
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/strides-walk-turns.jpg"}/
      .description 
        .v-titles
          %h4 strides, walk turns
          %p Speed Technique
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/strides-jog-turns.jpg"}/
      .description 
        .v-titles
          %h4 strides, jog turns
          %p Speed Technique
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/20-yard-burst.jpg"}/
      .description 
        .v-titles
          %h4 20-yd Burst
          %p Start Speed Training
        .v-info
          %h6 0:19
          %a{:href => "long-weave.html"} Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/40-yard-dash-with-parachute.jpg"}/
      .description 
        .v-titles
          %h4 40-yd dash parachute
          %p Advanced training
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/power-sled.jpg"}/
      .description 
        .v-titles
          %h4 power sled
          %p Advanced training
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/stadiums.jpg"}/
      .description 
        .v-titles
          %h4 stadium / bleachers
          %p incline training
        .v-info
          %h6 0:28
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/sand-hill.jpg"}/
      .description 
        .v-titles
          %h4 hill sprints
          %p incline training
        .v-info
          %h6 0:26
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/tuck-jumps.jpg"}/
      .description 
        .v-titles
          %h4 tuck jumps
          %p power training
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/broad-jumps.jpg"}/
      .description 
        .v-titles 
          %h4 broad jumps
          %p power training
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/single-leg-bounds.jpg"}/
      .description 
        .v-titles
          %h4 Single-leg Bounds
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page