.v-playlist
  %h2 VIDEO PLAYLIST
  %ul
    %li
      %img{alt: "", src: "/img/video_thumbnails/knee-grab.jpg"}/
      .description 
        .v-titles
          %h4 knee grabs
          %p Technical Endurance
        .v-info
          %h6 0:17
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/whirl-kicks.jpg"}/
      .description 
        .v-titles
          %h4 whirl kicks
          %p Technical Endurance
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/sumo-stretch.jpg"}/
      .description 
        .v-titles
          %h4 sumo stretch
          %p Technical Endurance
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/high-kicks.jpg"}/
      .description 
        .v-titles
          %h4 high kick
          %p Technical Endurance
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/walking-hamstring-stretch.jpg"}/
      .description 
        .v-titles
          %h4 walking hamstring
          %p Advanced DB Drills
        .v-info
          %h6 0:36
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/walking-lunges.jpg"}/
      .description 
        .v-titles
          %h4 walking lunge
          %p Advanced DB Drills
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page