.v-playlist
  %h2 VIDEO PLAYLIST
  %ul
    %li
      %img{alt: "", src: "/img/video_thumbnails/lunge-circuit.png"}/
      .description 
        .v-titles
          %h4 lunge circuit
          %p lowerbody strength
        .v-info
          %h6 0:17
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/standing-hamstring-curls.png"}/
      .description 
        .v-titles
          %h4 standing ham curls 
          %p Speed Technique
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/barbell-single-leg-squat.png"}/
      .description 
        .v-titles
          %h4 single-leg squats
          %p Speed Technique
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/dumbbell-single-leg-squat.png"}/
      .description 
        .v-titles
          %h4 DB single-leg squats
          %p Speed Technique
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/seated-calf-raises.png"}/
      .description 
        .v-titles
          %h4 seated calf raises
          %p Speed Technique
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/standing-calf-raises.png"}/
      .description 
        .v-titles
          %h4 standing calf raises
          %p Speed Technique
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/single-leg-leg-press.png"}/
      .description 
        .v-titles
          %h4 single-leg leg press
          %p Speed Technique
        .v-info
          %h6 0:36
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/stability-ball-hamstring-curls.png"}/
      .description 
        .v-titles
          %h4 stability ball curls
          %p Speed Technique
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/single-leg-stability-ball-hamstring-curls.png"}/
      .description 
        .v-titles
          %h4 Single-leg ball curls
          %p Speed Technique
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/leg-raises-cable.png"}/
      .description 
        .v-titles
          %h4 single-leg raises
          %p Speed Technique
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/heidi-circuit.png"}/
      .description 
        .v-titles
          %h4 heidi circuit
          %p Advanced training
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/dumbbell-bench-press.png"}/
      .description 
        .v-titles
          %h4 DB press
          %p Advanced training
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/seated-row.png"}/
      .description 
        .v-titles
          %h4 seated rows
          %p incline training
        .v-info
          %h6 0:28
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/dumbbell-incline-bench-press.png"}/
      .description 
        .v-titles
          %h4 inclined DB press
          %p incline training
        .v-info
          %h6 0:26
          %a.w-pagehead-nav-item.type_prev{:href => "dumbbell-incline-press.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/shoulder-circuit.png"}/
      .description 
        .v-titles 
          %h4 DB shoulder circuit
          %p power training
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "shoulder-circuit.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/pull-ups.png"}/
      .description 
        .v-titles
          %h4 pull ups
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hip-adductors-machine.png"}/
      .description 
        .v-titles
          %h4 hip adductors (machine)
          %p power training
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hip-abductors-machine.png"}/
      .description 
        .v-titles 
          %h4 hip abductors (machine)
          %p power training
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hip-extensions.png"}/
      .description 
        .v-titles
          %h4 hip extensions
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/back-extensions.png"}/
      .description 
        .v-titles 
          %h4 back extensions
          %p power training
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/planks.png"}/
      .description 
        .v-titles
          %h4 planks
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/side-planks.png"}/
      .description 
        .v-titles 
          %h4 side planks
          %p power training
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/seated-torso-twists.png"}/
      .description 
        .v-titles
          %h4 seated torso twists
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/ab-wheel.png"}/
      .description 
        .v-titles
          %h4 ab wheel
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/torso-twists-cable.png"}/
      .description 
        .v-titles
          %h4 torso twists (cable)
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/torso-twist-machine.png"}/
      .description 
        .v-titles
          %h4 torso twists (machine)
          %p power training
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page