.v-playlist
  %h2 WORKOUT VIDEO PLAYLIST
  %ul
    %li
      %img{alt: "", src: "/img/video_thumbnails/long-weave.jpg"}/
      .description 
        .v-titles
          %h4 long weave
          %p Technical Endurance
        .v-info
          %h6 0:17
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
    %li
      %img{alt: "", src: "/img/video_thumbnails/long-speed-turns.jpg"}/
      .description 
        .v-titles
          %h4 long speed turns
          %p Technical Endurance
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/long-slow-turns.jpg"}/
      .description 
        .v-titles
          %h4 long slow turns
          %p Technical Endurance
        .v-info
          %h6 0:16
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            
    %li
      %img{alt: "", src: "/img/video_thumbnails/long-hip-flips.jpg"}/
      .description 
        .v-titles
          %h4 long hip flips
          %p Technical Endurance
        .v-info
          %h6 0:14
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hitch-n-go-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Hitch-N-Go Breaks
          %p Advanced DB Drills
        .v-info
          %h6 0:36
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/whip-route-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Whip-Route Breaks
          %p Advanced DB Drills
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/out-n-in-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Out-N-In Breaks
          %p Advanced DB Drills
        .v-info
          %h6 0:19
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/out-n-up-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Out-N-Up Breaks
          %p Advanced DB Drills
        .v-info
          %h6 0:19
          %a{:href => "long-weave.html"} Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/box-drill.jpg"}/
      .description 
        .v-titles
          %h4 Box Drill
          %p Technical Endurance
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/open-hitch-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Open Hitch Breaks
          %p Basic DB Drills
        .v-info
          %h6 0:25
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/dig-route-breaks.jpg"}/
      .description 
        .v-titles
          %h4 Dig Breaks
          %p Basic DB Drills
        .v-info
          %h6 0:28
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/post-corner-slow-turns.jpg"}/
      .description 
        .v-titles
          %h4 Post Corner Slow Turns
          %p Basic DB Drills
        .v-info
          %h6 0:26
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/post-corner-speed-turns.jpg"}/
      .description 
        .v-titles
          %h4 Post Corner Speed Turns
          %p Basic DB Drills
        .v-info
          %h6 0:20
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hip-flips-45-degree-break.jpg"}/
      .description 
        .v-titles 
          %h4 Hip Flips w/ 45° Break
          %p Mobility Drills
        .v-info
          %h6 0:30
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page
    %li
      %img{alt: "", src: "/img/video_thumbnails/hip-flips-315-degree-break.jpg"}/
      .description 
        .v-titles
          %h4 Hip Flips w/ 315° Break
          %p Mobility Drills
        .v-info
          %h6 0:34
          %a.w-pagehead-nav-item.type_prev{:href => "long-weave.html"}
            %i.icon-share-alt
            Visit Page