<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr">
/[if IE 8] <html class="no-js lt-ie9" lang="en" dir="ltr">
/ [if gt IE 8]><!
%html.no-js{:dir => "ltr", :lang => "en"}
  / <![endif]
  %head
    / CSS ================
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/header-1.css", :rel => "stylesheet", :type => "text/css"}/
    / Icons ================
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    %link{:href => "apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    / For first- and second-generation iPad:
    %link{:href => "apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / For iPhone with high-resolution Retina display:
    %link{:href => "apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / For third-generation iPad with high-resolution Retina display:
    %link{:href => "apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    /
      Open Graph for facebook
      http://graph.facebook.com/[UserName] replace [UserName]
      with yours and get your fb:admis content information where the XXXX goes.
      \==================================================
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "", :property => "og:type"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "", :property => "og:image"}/
    %meta{:content => "", :property => "og:site_name"}/
    %meta{:content => "XXXXX", :property => "fb:admins"}/
    %meta{:content => "en_us", :property => "og:locale"}/
    %meta{:content => "  ", :property => "og:description"}/
    / SCRIPTS ==============================================
    /
      NOTE:: jquery 1.9.1 supports older ie, 2.0 does not, but 1.9.1 does not work well on ie8 and
      lower so version 1.7.2 is called for older versions of ie
      \:: calling jQuery in the head for ajax work if necessary.
    / [if gt IE 8]><!
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="assets/js/jquery-1.9.1.min.js"><\/script>')
    / <![endif]
    /[if lte IE 8]
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    / Add to Head after Style sheet http://modernizr.com/docs/#installing  ================
    %script{:src => "assets/js/modernizr.js"}
    / js multiple backgrounds svg background size
  %body
    / begin accesibility skip to nav skip content
    %ul#top.visuallyhidden
      %li
        %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
      %li
        %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
    / end /.visuallyhidden accesibility
    / mobile navigation trigger
    %h5.mobile_nav
      %a{:href => "javascript:void(0)"}
        \&nbsp;
        %span
    / end mobile navigation trigger
    / INSERT RENDER PARTICAL FOR SPECIFIC PAGE
    / INSERT RENDER PARTIAL footer_sitewide
    %span.backToTop
      %a{:href => "#top"} back to top
    / close #page
    / JS JQuery ================
    %script{:src => "assets/js/bootstrap.min.js"}
    / initialize scripts / custom scripts all pages
    %script{:src => "assets/js/custom.js"}
