.g-cols
  .one-half
    %h6 100-yard Long Drills, 2x each, 90sec rest
    %ul
      / INSERT RENDER PARTIAL workouts_long-drills
      =render partial: "workouts_long-drills"
  .one-half
    %h6 Box Drill 3x, 60sec rest
    %ul
      %li
        %a{:href => "#"} Box drill
