%li Open-hip Hitch (Comebacks) Breaks
%li Hitch-n-go Breaks
%li Whip-route Breaks
%li Out-n-in Breaks
%li Out-n-up Breaks
%li Dig Breaks
%li Opposite Dig Breaks
%li Post Corner Speed Turns
%li Post Corner Slow Turns
%li Hip Flips w/ 45° Break
%li Hip Flips w/ 315° Break
