%ul
  %li Long Weave
  %li Long Speed Turn
  %li Long Slow Turn
  %li Long Hip Flips
%h6 Notes
%ul
  %li Long Drills: Perform each rep twice before moving on to the next
  %li Long Drill: 60 second rest per repetition 
            