%li Hitch (Comeback) Breaks
%li Open-hip Hitch (Comeback) Breaks
%li 45° (Slant) Breaks
%li Long 45° (Slant) Breaks
%li 90° (Out) Breaks
%li Post Breaks
%li Post Corner Speed Turns
%li Post Corner Slow Turns
%li Hip Flips w/ 45° Break
%li Hip Flips w/ 315° Break

%script{:src => "assets/jquery.tools.min.js", :type => "text/javascript"}
%script{:src => "assets/videolightbox.js", :type => "text/javascript"}