!!! Strict
!!! XML
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      / Insert your title here
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/js/jquery.mousewheel.js", type: "text/javascript"}
    %script{src: "/js/ilightbox.packed.jss", type: "text/javascript"}
    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}

    :css
      .g-cols > .two-thirds, .g-cols > .four-sixths {
      width: 65.3333%;
      }
      .g-cols > .one-third, .g-cols > .two-sixths {
      width: 32.6666%;
      }
      .g-cols > div {
      margin-left: 2.0000%;
      }

    %link{href: "/css/ilightbox.css", rel: "stylesheet"}/

    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}
    %script{src: "/js/jquery.mousewheel.js"}
    %script{src: "/js/ilightbox.packed.js"}

    %body.l-body.home

    / CANVAS
    .l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
      .l-canvas-h
        / MAIN
        .l-main
          .l-main-h.workout.videos

            .l-submain.for_pagehead.color_alternate
              .l-submain-h.g-html.i-cf
                .w-pagehead
                  %h1 Cornerback Footwork Drills
                  %p 7 Training Videos
                  / breadcrums
                  .w-pagehead-nav
                    .w-pagehead-nav-h
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-strength-training.html"}
                        %i.icon-chevron-left
                      %a.w-pagehead-nav-item.type_all{href: "#"}
                        %i.icon-th
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-footwork.html"}
                        %i.icon-chevron-right
            .l-submain.for_filters
              .l-submain-h.g-html
                .w-filters.animate_afl
                  .w-filters-h
                    .w-filters-list
                      .w-filters-item.active
                        %a.w-filters-item-link{"data-filter" => "*", href: "javascript:void(0);"} All
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".basic", href: "javascript:void(0);"} Basic Ladder Drills
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".advanced", href: "javascript:void(0);"} Advanced Ladder Drills
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".combine", href: "javascript:void(0);"} Combine Agility
                      
            
            .l-submain.workout
              .l-submain-h.g-html
                .w-portfolio.columns_4.type_sortable
                  .w-portfolio-h
                    .w-portfolio-list
                      .w-portfolio-list-h

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_1.thumbnail{"data-caption" => "Lateral", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/cHoZyUv--ZM?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ladder-drills-lateral-movement.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Lateral
                                .port-summary 
                                  %p Basic Ladder Drill
                                  %span
                                    .label.label-danger LD
                                .hidden-links
                                  %a{href: "lunge-circuit.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_2.thumbnail{"data-caption" => "Lateral w/hop", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/cAxvNI9naUY?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ladder-drills-lateral-hops.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Lateral w/hop
                                .port-summary 
                                  %p Basic Ladder Drill
                                  %span
                                    .label.label-danger LD
                                .hidden-links
                                  %a{href: "standing-hamstring-curls.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_3.thumbnail{"data-caption" => "Backwards Lateral", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/dWrrXXzxPB8?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ladder-drills-backwards-lateral-movement.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Backwards Lateral
                                .port-summary 
                                  %p Advanced Ladder Drill
                                  %span
                                    .label.label-danger LD
                                .hidden-links
                                  %a{href: "long-slow-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_4.thumbnail{"data-caption" => "Sidestep", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/mf5dzzbUoOk?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ladder-drills-sidestep.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Sidestep
                                .port-summary 
                                  %p Basic Ladder Drill
                                  %span
                                    .label.label-danger LD
                                .hidden-links
                                  %a{href: "long-hip-fliips.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_5.thumbnail{"data-caption" => "Ins-and-Outs", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/i2jNcCT-2qE?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ladder-drills-ins-and-outs.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Ins-and-Outs
                                .port-summary 
                                  %p Advanced Ladder Drill
                                  %span
                                    .label.label-danger LD
                                .hidden-links
                                  %a{href: "hitch-n-go-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.combine
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_6.thumbnail{"data-caption" => "20-yd Short Shuttle", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/hb-w0fhwkOk?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/20-yard-short-shuttle.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title 20-yd Short Shuttle
                                .port-summary  
                                  %p Combine Agility Drills
                                  %span
                                    .label.label-warning CA
                                .hidden-links
                                  %a{href: "whip-route-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.combine
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_7.thumbnail{"data-caption" => "L-Drill", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/NVl_IFepdLQ?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/l-drill.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title L-Drill
                                .port-summary 
                                  %p Combine Agility Drills
                                  %span
                                    .label.label-warning CA
                                .hidden-links
                                  %a{href: "out-n-in-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview
        / /MAIN
    / /CANVAS
    / FOOTER
    .l-footer.type_normal
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up
    



     
































    :javascript
      //Video - Simple Usage
            $('#video_1').iLightBox();
            $('#video_2').iLightBox();
            $('#video_3').iLightBox();
            $('#video_4').iLightBox();
            $('#video_5').iLightBox();
            $('#video_6').iLightBox();
            $('#video_7').iLightBox();
            
            
            
      