!!! Strict
!!! XML
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      / Insert your title here
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/js/jquery.mousewheel.js", type: "text/javascript"}
    %script{src: "/js/ilightbox.packed.jss", type: "text/javascript"}
    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}

    :css
      .g-cols > .two-thirds, .g-cols > .four-sixths {
      width: 65.3333%;
      }
      .g-cols > .one-third, .g-cols > .two-sixths {
      width: 32.6666%;
      }
      .g-cols > div {
      margin-left: 2.0000%;
      }

    %link{href: "/css/ilightbox.css", rel: "stylesheet"}/

    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}
    %script{src: "/js/jquery.mousewheel.js"}
    %script{src: "/js/ilightbox.packed.js"}
    



    
     

    %body.l-body.home

    / CANVAS
    .l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
      .l-canvas-h
        / MAIN
        .l-main
          .l-main-h.workout.videos

            .l-submain.for_pagehead.color_alternate
              .l-submain-h.g-html.i-cf
                .w-pagehead
                  %h1 Cornerback Strength Training
                  %p 25 Training Videos
                  / breadcrums
                  .w-pagehead-nav
                    .w-pagehead-nav-h
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-speed-training.html"}
                        %i.icon-chevron-left
                      %a.w-pagehead-nav-item.type_all{href: "#"}
                        %i.icon-th
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-footwork.html"}
                        %i.icon-chevron-right
            .l-submain.for_filters
              .l-submain-h.g-html
                .w-filters.animate_afl
                  .w-filters-h
                    .w-filters-list
                      .w-filters-item.active
                        %a.w-filters-item-link{"data-filter" => "*", href: "javascript:void(0);"} All
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".glutesHams", href: "javascript:void(0);"} Glutes/Hamstrings
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".armsChest", href: "javascript:void(0);"} Arms/Chest
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".shoulders", href: "javascript:void(0);"} Shoulders
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".back", href: "javascript:void(0);"} Back
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".hips", href: "javascript:void(0);"} Hips
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".calves", href: "javascript:void(0);"} Calves
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".core", href: "javascript:void(0);"} Core/Abs
                      
                      
            
            .l-submain.workout
              .l-submain-h.g-html
                .w-portfolio.columns_4.type_sortable
                  .w-portfolio-h
                    .w-portfolio-list
                      .w-portfolio-list-h

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_1.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/5dT8CIagj2c?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/lunge-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title lunge circuit
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "lunge-circuit.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.lowererbody.glutesHams
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_2.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/VWMQMgnSgOw?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/standing-hamstring-curls.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title standing ham curls 
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "standing-hamstring-curls.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_3.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/jepDKUJF4oU?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/barbell-single-leg-squat.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg squats
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "long-slow-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_4.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/Zbm9aMmPC_I?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-single-leg-squat.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB single-leg squats
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "long-hip-fliips.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.calves
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_5.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/hzOUekdG0bM?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/seated-calf-raises.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated calf raises
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "hitch-n-go-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.calves
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_6.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/2YdKkKT7MZE?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/standing-calf-raises.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title standing calf raises
                                .port-summary  
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "whip-route-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_7.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/Zp4IDcqgdHo?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/single-leg-leg-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg leg press
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "out-n-in-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_8.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/JZq74Bqze1o?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/stability-ball-hamstring-curls.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title stability ball curls
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "out-n-up-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_9.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/-7TU1pnFsUQ?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/single-leg-stability-ball-hamstring-curls.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single-leg ball curls
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "box-drill.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_10.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/MDS9s9bPgVc?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/leg-raises-cable.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg raises
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "open-hitch-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_11.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/IMHJAV1Dlc4?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/heidi-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title heidi circuit
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "out-n-up-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_12.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/yWj3Iy3VSlU?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-bench-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB press
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "post-corner-slow-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_13.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/a63T3FcDmw0?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/seated-row.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated rows
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "post-corner-speed-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_14.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/P3IyAkSYsWw?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-incline-bench-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title inclined DB press
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.shoulders
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_15.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/_DCZZ3MnLsw?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/shoulder-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB shoulder circuit
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest.shoulders
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_16.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/CAuZy5Ai3b8?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/pull-ups.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title pull ups
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "post-corner-speed-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_17.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/pMRYcUeTzAU?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hip-adductors-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip adductors (machine)
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        

                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_18.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/W2y3eaWnMTo?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hip-abductors-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip abductors (machine)
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_19.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/8MLnUys30vs?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hip-extensions.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip extensions
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.back
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_20.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/_G0AGE6rXyQ?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/back-extensions.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title back extensions
                                .port-summary 
                                  %p Back
                                  %span
                                    .label.label-default BK
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_21.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/HmGrmSXk3UY?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/side-planks.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title side planks
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.core.back
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_22.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/-yqHCUVQavk?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/planks.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title planks
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_23.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/GBXOpkQFuTE?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/seated-torso-twists.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated torso twists
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_24.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/ior_yCeBTs4?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/ab-wheel.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title ab wheel
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_25.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/rnlz4T123lM?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/torso-twists-cable.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title torso twists (cable)
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_26.thumbnail{"data-caption" => "", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/rhJVpNvqtgQ?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/torso-twist-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title torso twists (machine)
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview
        / /MAIN
    / /CANVAS
    / FOOTER
    .l-footer.type_normal
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up
    



     
































    :javascript
      //Video - Simple Usage
             $('#video_1').iLightBox();
            $('#video_2').iLightBox();
            $('#video_3').iLightBox();
            $('#video_4').iLightBox();
            $('#video_5').iLightBox();
            $('#video_6').iLightBox();
            $('#video_7').iLightBox();
            $('#video_8').iLightBox();
            $('#video_9').iLightBox();
            $('#video_10').iLightBox();
            $('#video_11').iLightBox();
            $('#video_12').iLightBox();
            $('#video_13').iLightBox();
            $('#video_14').iLightBox();
            $('#video_15').iLightBox();
            $('#video_16').iLightBox();
            $('#video_17').iLightBox();
            $('#video_18').iLightBox();
            $('#video_19').iLightBox();
            $('#video_20').iLightBox();
            $('#video_21').iLightBox();
            $('#video_22').iLightBox();
            $('#video_23').iLightBox();
            $('#video_24').iLightBox();
            $('#video_25').iLightBox();
            $('#video_26').iLightBox();
            
            
      