!!! Strict
!!! XML
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      / Insert your title here
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/js/jquery.mousewheel.js", type: "text/javascript"}
    %script{src: "/js/ilightbox.packed.jss", type: "text/javascript"}
    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}

    :css
      .g-cols > .two-thirds, .g-cols > .four-sixths {
      width: 65.3333%;
      }
      .g-cols > .one-third, .g-cols > .two-sixths {
      width: 32.6666%;
      }
      .g-cols > div {
      margin-left: 2.0000%;
      }

    %link{href: "/css/ilightbox.css", rel: "stylesheet"}/

    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}
    %script{src: "/js/jquery.mousewheel.js"}
    %script{src: "/js/ilightbox.packed.js"}


    %body.l-body.home

    / CANVAS
    .l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
      .l-canvas-h
        / MAIN
        .l-main
          .l-main-h.workout.videos

            .l-submain.for_pagehead.color_alternate
              .l-submain-h.g-html.i-cf
                .w-pagehead
                  %h1 Cornerback Strength Training
                  %p 25 Training Videos
                  / breadcrums
                  .w-pagehead-nav
                    .w-pagehead-nav-h
                      %a.w-pagehead-nav-item.type_all{href: "/pages/cornerback-training-drills.html"}
                        %i.icon-chevron-left
                      %a.w-pagehead-nav-item.type_all{href: "#"}
                        %i.icon-th
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-dynamic-warmup.html"}
                        %i.icon-chevron-right
            .l-submain.for_filters
              .l-submain-h.g-html
                .w-filters.animate_afl
                  .w-filters-h
                    .w-filters-list
                      .w-filters-item.active
                        %a.w-filters-item-link{"data-filter" => "*", href: "javascript:void(0);"} All
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".glutesHams", href: "javascript:void(0);"} Glutes/Hamstrings
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".armsChest", href: "javascript:void(0);"} Arms/Chest
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".shoulders", href: "javascript:void(0);"} Shoulders
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".back", href: "javascript:void(0);"} Back
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".hips", href: "javascript:void(0);"} Hips
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".calves", href: "javascript:void(0);"} Calves
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".core", href: "javascript:void(0);"} Core/Abs
                      
                      
            
            .l-submain.workout
              .l-submain-h.g-html
                .w-portfolio.columns_4.type_sortable
                  .w-portfolio-h
                    .w-portfolio-list
                      .w-portfolio-list-h

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_1.thumbnail{"data-caption" => "Back-Squats", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/LKeea_AgEQc?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/lunge-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title lunge circuit
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/lunge-circuit.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.lowererbody.glutesHams
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/standing-hamstring-curls.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title standing ham curls 
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/standing-hamstring-curl.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/barbell-single-leg-squat.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg squats
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/single-leg-squats.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-single-leg-squat.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB single-leg squats
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/db-single-leg-squats.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.calves
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/seated-calf-raises.html"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated calf raises
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/seated-calf-raises.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.calves
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/standing-calf-raises.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title standing calf raises
                                .port-summary  
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/single-leg-calf-raises.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/single-leg-leg-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg leg press
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "out-n-in-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/single-leg-leg-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single leg press
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/single-leg-press.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.glutesHams.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/single-leg-stability-ball-hamstring-curls.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single-leg ball curls
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/stability-ball-curls.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core.glutesHams
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/leg-raises-cable.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title single-leg raises
                                .port-summary 
                                  %p Lowerbody Strength
                                  %span
                                    .label.label-danger LS
                                .hidden-links
                                  %a{href: "/pages/single-leg-raises.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/heidi-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title heidi circuit
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pages/heidi-circuit.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-bench-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB press
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "pages/db-press.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/seated-row.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated rows
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "pages/seated-rows.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/dumbbell-incline-bench-press.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title inclined DB press
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "pages/incline-db-press.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.shoulders
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/shoulder-circuit.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title DB shoulder circuit
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "/pages/db-shoulder-circuit.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/hip-adductors-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip adductors (machine)
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "/pages/hip-adductors.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.armsChest.shoulders
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/pull-ups.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title pull ups
                                .port-summary 
                                  %p Upperbody Strength
                                  %span
                                    .label.label-info UB
                                .hidden-links
                                  %a{href: "post-corner-speed-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/hip-abductors-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip abductors (machine)
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "/pages/pull-ups.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.hips
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/hip-extensions.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title hip extensions
                                .port-summary 
                                  %p Hips
                                  %span
                                    .label.label-inverse HP
                                .hidden-links
                                  %a{href: "/pages/hip-extensions.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.back
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/back-extensions.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title back extensions
                                .port-summary 
                                  %p Back
                                  %span
                                    .label.label-default BK
                                .hidden-links
                                  %a{href: "/pages/back-extensions.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/side-planks.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title side planks
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pages/side-planks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.core.back
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/planks.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title planks
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pages/planks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/seated-torso-twists.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title seated torso twists
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pags/seated-torso-twists.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/ab-wheel.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title ab wheel
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pages/ab-wheel.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/torso-twists-cable.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title torso twists (cable)
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "/pages/ab-wheel.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.core
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %img{alt: "", src: "/img/video_thumbnails/240x180/torso-twist-machine.png"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title torso twists (machine)
                                .port-summary 
                                  %p Core Strength
                                  %span
                                    .label.label-warning CS
                                .hidden-links
                                  %a{href: "hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview
        / /MAIN
    / /CANVAS
    / FOOTER
    .l-footer.type_normal
      .l-footer-h
        / subfooter: top
        .l-subfooter.at_top
          .l-subfooter-h.g-cols.cols_fluid
            .one-third
              .widget
                %h4 About us
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit
                  = succeed "." do
                    %a{href: "#"} amet fermentum
                %p Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
            .one-third
              .widget
                %h4 Latest News
                .w-bloglist.date_atbottom
                  .w-bloglist-list
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} Another Single Interesting Post
                      %span.w-bloglist-entry-date March 27, 2013
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} This is Just a Single Clean Post with Long Interesting Title
                      %span.w-bloglist-entry-date March 08, 2013
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} This is a Single Clean Post
                      %span.w-bloglist-entry-date March 06, 2013
            .one-third
              .widget
                %h4 Contact Info
                .w-contacts
                  .w-contacts-h
                    .w-contacts-list
                      .w-contacts-item.for_address
                        %i.icon-location
                        %span.w-contacts-item-name Address:
                        %span.w-contacts-item-value 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States
                      .w-contacts-item.for_phone
                        %i.icon-mobile
                        %span.w-contacts-item-name Phone:
                        %span.w-contacts-item-value +321 123 4567
                      .w-contacts-item.for_email
                        %i.icon-mail
                        %span.w-contacts-item-name Email:
                        %span.w-contacts-item-value
                          %a{href: "mailto:info@example.com"} info@example.com
              .widget
                .w-socials.size_normal
                  .w-socials-h
                    .w-socials-list
                      .w-socials-item.facebook
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-facebook
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Facebook
                      .w-socials-item.twitter
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-twitter
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Twitter
                      .w-socials-item.gplus
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-google-plus
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Google
                      .w-socials-item.linkedin
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-linkedin
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text LinkedIn
                      .w-socials-item.tumblr
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-tumblr
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Tumblr
                      .w-socials-item.dribbble
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-dribbble
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Dribbble
        / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up


    :javascript
      //Video - Simple Usage
            $('#video_1').iLightBox();
            $('#video_2').iLightBox();
            $('#video_3').iLightBox();
            $('#video_html5').iLightBox();
            
            
      