!!! Strict
!!! XML
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      / Insert your title here
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    %link{href: "/css/ilightbox.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "/js/jquery.mousewheel.js", type: "text/javascript"}
    %script{src: "/js/ilightbox.packed.jss", type: "text/javascript"}
    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}

    :css
      .g-cols > .two-thirds, .g-cols > .four-sixths {
      width: 65.3333%;
      }
      .g-cols > .one-third, .g-cols > .two-sixths {
      width: 32.6666%;
      }
      .g-cols > div {
      margin-left: 2.0000%;
      }

    %link{href: "/css/ilightbox.css", rel: "stylesheet"}/

    %script{async: "", defer: "defer", src: "http://iprodev.com/projects.php?p=ilightbox", type: "text/javascript"}
    %script{src: "/js/jquery.mousewheel.js"}
    %script{src: "/js/ilightbox.packed.js"}

    %body.l-body.home

    / CANVAS
    .l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
      .l-canvas-h
        / MAIN
        .l-main
          .l-main-h.workout

            .l-submain.for_pagehead.color_alternate
              .l-submain-h.g-html.i-cf
                .w-pagehead
                  %h1 Cornerback Training Drills
                  %p 15 Training Videos
                  / breadcrums
                  .w-pagehead-nav
                    .w-pagehead-nav-h
                      %a.w-pagehead-nav-item.type_next{href: "/pages/cornerback-footwork.html"}
                        %i.icon-chevron-left
                      %a.w-pagehead-nav-item.type_all{href: "#"}
                        %i.icon-th
                      %a.w-pagehead-nav-item.type_all{href: "/pages/cornerback-dynamic-warmup.html"}
                        %i.icon-chevron-right
            .l-submain.for_filters
              .l-submain-h.g-html
                .w-filters.animate_afl
                  .w-filters-h
                    .w-filters-list
                      .w-filters-item.active
                        %a.w-filters-item-link{"data-filter" => "*", href: "javascript:void(0);"} All
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".technical", href: "javascript:void(0);"} Technical Endurance
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".basic", href: "javascript:void(0);"} Basic Cornerback Drills
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".advanced", href: "javascript:void(0);"} Advanced Cornerback Drills
                      .w-filters-item
                        %a.w-filters-item-link{"data-filter" => ".mobility", href: "javascript:void(0);"} Mobility Drills
            
            .l-submain.workout
              .l-submain-h.g-html
                .w-portfolio.columns_4.type_sortable
                  .w-portfolio-h
                    .w-portfolio-list
                      .w-portfolio-list-h
                        .w-portfolio-item.technical
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_1.thumbnail{"data-caption" => "long weave", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/d07geCT53UU?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/long-weave.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title long weave
                                .port-summary 
                                  %p Technical Endurance
                                  %span
                                    .label.label-danger TE
                                .hidden-links
                                  %a{href: "/pages/long-weave.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.technical
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_2.thumbnail{"data-caption" => "long speed turns", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/1peiv2GQ6og?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/long-speed-turns.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title long speed turns
                                .port-summary 
                                  %p Technical Endurance
                                  %span
                                    .label.label-danger TE
                                .hidden-links
                                  %a{href: "/pages/long-speed-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview


                        .w-portfolio-item.technical
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_3.thumbnail{"data-caption" => "long slow turns", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/jFuXYRmpry8?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/long-slow-turns.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title long slow turns
                                .port-summary 
                                  %p Technical Endurance
                                  %span
                                    .label.label-danger TE
                                .hidden-links
                                  %a{href: "/pages/long-slow-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.technical
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_4.thumbnail{"data-caption" => "long hip flips", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/X7PAaQGTYxg?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/long-hip-flips.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title long hip flips
                                .port-summary 
                                  %p Technical Endurance
                                  %span
                                    .label.label-danger TE
                                .hidden-links
                                  %a{href: "/pages/long-hip-flips.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_5.thumbnail{"data-caption" => "Hitch-N-Go Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/LQvz4x3sID0?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hitch-n-go-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Hitch-N-Go Breaks
                                .port-summary 
                                  %p Advanced Drills
                                  %span
                                    .label.label-inverse AD
                                .hidden-links
                                  %a{href: "/pages/hitch-n-go-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_6.thumbnail{"data-caption" => "Whip-Route Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/3ulpc9fDiiM?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/whip-route-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Whip-Route Breaks
                                .port-summary  
                                  %p Advanced Drills
                                  %span
                                    .label.label-inverse AD
                                .hidden-links
                                  %a{href: "/pages/whip-route-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_7.thumbnail{"data-caption" => "Out-N-In Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/n0kcPCx9stE?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/out-n-in-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Out-N-In Breaks
                                .port-summary 
                                  %p Advanced Drills
                                  %span
                                    .label.label-inverse AD
                                .hidden-links
                                  %a{href: "/pages/out-n-in-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.advanced
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_8.thumbnail{"data-caption" => "Out-N-Up Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/3-o2-6DIGD0?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/out-n-up-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Out-N-Up Breaks
                                .port-summary 
                                  %p Advanced Drills
                                  %span
                                    .label.label-inverse AD
                                .hidden-links
                                  %a{href: "/pages/out-n-up-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.technical
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_9.thumbnail{"data-caption" => "Box Drill", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/5L6waFfNtSA?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/box-drill.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Box Drill
                                .port-summary 
                                  %p Technical Endurance
                                  %span
                                    .label.label-danger TE
                                .hidden-links
                                  %a{href: "/pages/box-drill.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_10.thumbnail{"data-caption" => "Open Hitch Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/KSPM942wG24?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/open-hitch-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Open Hitch Breaks
                                .port-summary 
                                  %p Basic Drills
                                  %span
                                    .label.label-info BD
                                .hidden-links
                                  %a{href: "/pages/open-hitch-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_11.thumbnail{"data-caption" => "Dig Breaks", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/dqek8gBFX54?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/dig-route-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Dig Breaks
                                .port-summary 
                                  %p Basic Drills
                                  %span
                                    .label.label-info BD
                                .hidden-links
                                  %a{href: "/pages/dig-breaks.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_12.thumbnail{"data-caption" => "Post Corner Slow", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/yBgojT8A4j8?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/post-corner-slow-turns.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Post Corner Slow
                                .port-summary 
                                  %p Basic Drills
                                  %span
                                    .label.label-info BD
                                .hidden-links
                                  %a{href: "/pages/post-corner-slow-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.basic
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_13.thumbnail{"data-caption" => "Post Corner Speed ", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/AUsdOUxU1Iw?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/post-corner-speed-turns.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Post Corner Speed 
                                .port-summary 
                                  %p Basic Drills
                                  %span
                                    .label.label-info BD
                                .hidden-links
                                  %a{href: "/pages/post-corner-speed-turns.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.mobility
                          .w-portfolio-item-h.animate_hfc.d1
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_14.thumbnail{"data-caption" => "Hip Flips w/ 45°", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/TYGhrJ5tFEw?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hip-flips-with-45-degree-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Hip Flips w/ 45°
                                .port-summary 
                                  %p Mobility Drills
                                  %span
                                    .label.label-warning MD
                                .hidden-links
                                  %a{href: "/pages/hip-flips-with-45-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview

                        .w-portfolio-item.mobility
                          .w-portfolio-item-h.animate_hfc.d2
                            .w-portfolio-item-anchor
                              .w-portfolio-item-image
                                %a#video_15.thumbnail{"data-caption" => "Hip Flips w/ 315°", "data-options" => "width:1920, height:1080", href: "//www.youtube.com/embed/bsb5J6Hr9nA?rel=0"}
                                  %img{alt: "", src: "/img/video_thumbnails/240x180/hip-flips-with-315-degree-breaks.jpg"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Hip Flips w/ 315°
                                .port-summary 
                                  %p Mobility Drills
                                  %span
                                    .label.label-warning MD
                                .hidden-links
                                  %a{href: "/pages/hip-flips-with-315-degree-break.html"}
                                    %button.g-btn.type_primary.size_small
                                      %span
                                        .icon.icon-share-alt
                                        See Full Overview
        / /MAIN
    / /CANVAS
    / FOOTER
    .l-footer.type_normal
      .l-footer-h
        / subfooter: top
        .l-subfooter.at_top
          .l-subfooter-h.g-cols.cols_fluid
            .one-third
              .widget
                %h4 About us
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit
                  = succeed "." do
                    %a{href: "#"} amet fermentum
                %p Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
            .one-third
              .widget
                %h4 Latest News
                .w-bloglist.date_atbottom
                  .w-bloglist-list
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} Another Single Interesting Post
                      %span.w-bloglist-entry-date March 27, 2013
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} This is Just a Single Clean Post with Long Interesting Title
                      %span.w-bloglist-entry-date March 08, 2013
                    .w-bloglist-entry
                      %a.w-bloglist-entry-link{href: "blog-post.html"} This is a Single Clean Post
                      %span.w-bloglist-entry-date March 06, 2013
            .one-third
              .widget
                %h4 Contact Info
                .w-contacts
                  .w-contacts-h
                    .w-contacts-list
                      .w-contacts-item.for_address
                        %i.icon-location
                        %span.w-contacts-item-name Address:
                        %span.w-contacts-item-value 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States
                      .w-contacts-item.for_phone
                        %i.icon-mobile
                        %span.w-contacts-item-name Phone:
                        %span.w-contacts-item-value +321 123 4567
                      .w-contacts-item.for_email
                        %i.icon-mail
                        %span.w-contacts-item-name Email:
                        %span.w-contacts-item-value
                          %a{href: "mailto:info@example.com"} info@example.com
              .widget
                .w-socials.size_normal
                  .w-socials-h
                    .w-socials-list
                      .w-socials-item.facebook
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-facebook
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Facebook
                      .w-socials-item.twitter
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-twitter
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Twitter
                      .w-socials-item.gplus
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-google-plus
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Google
                      .w-socials-item.linkedin
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-linkedin
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text LinkedIn
                      .w-socials-item.tumblr
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-tumblr
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Tumblr
                      .w-socials-item.dribbble
                        %a.w-socials-item-link{href: "javascript:void(0);", target: "_blank"}
                          %i.icon-dribbble
                        .w-socials-item-popup
                          .w-socials-item-popup-h
                            %span.w-socials-item-popup-text Dribbble
        / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up



    :javascript
      //Video - Simple Usage
      $('#video_1').iLightBox();
      $('#video_2').iLightBox();
      $('#video_3').iLightBox();
      $('#video_4').iLightBox();
      $('#video_5').iLightBox();
      $('#video_6').iLightBox();
      $('#video_7').iLightBox();
      $('#video_8').iLightBox();
      $('#video_9').iLightBox();
      $('#video_10').iLightBox();
      $('#video_11').iLightBox();
      $('#video_12').iLightBox();
      $('#video_13').iLightBox();
      $('#video_14').iLightBox();
      $('#video_15').iLightBox();


    :javascript
      //Video - Simple Usage
            $('#video_1').iLightBox();
            $('#video_2').iLightBox();
            $('#video_3').iLightBox();
            $('#video_html5').iLightBox();
            
            //Video - Advanced Examples
            $('#video_4').iLightBox({
              smartRecognition: true
            });
            $('#video_5').iLightBox({
              smartRecognition: true
            });
            $('#video_6').iLightBox({
              smartRecognition: true
            });
            $('#video_7').iLightBox({
              smartRecognition: true
            });
            $('#video_8').iLightBox({
              smartRecognition: true
            });
            $('#video_9').iLightBox({
              smartRecognition: true
            });
      
            $('#video_gallery').click(function(){
              $.iLightBox(
                [
                  {
                    URL: "http://www.youtube.com/watch?v=WkNUtjZgLz8"
                  },
                  {
                    URL: "http://vimeo.com/55331511"
                  },
                  {
                    URL: "http://www.hulu.com/watch/424558"
                  },
                  {
                    URL: "http://www.metacafe.com/watch/9542534/man_of_steel_trailer/"
                  },
                  {
                    URL: "http://www.dailymotion.com/video/xp53r5_the-avengers-official-trailer-2_shortfilms"
                  },
                  {
                    URL: "http://www.gametrailers.com/videos/za4633/crysis-3-the-7-wonders---episode-1--hell-of-a-town",
                    options: {
                      width: 1280,
                      height: 720
                    }
                  }
                ],
                {
                  smartRecognition: true,
                  skin: 'dark',
                  controls: {
                    thumbnail: thumbs
                  },
                  overlay: {
                    blur: false
                  },
                  keyboard: {
                    esc: false
                  },
                  styles: {
                    nextOpacity: .55,
                    prevOpacity: .55
                  }
                }
              );
              return false;
            });
      
            //Advanced Examples - Mixed & Google Maps
            $('#mixed_contents').click(function(){
              $.iLightBox(
                [
                  {
                    URL: "http://iprodev.com/ilightbox/assets/MV5BMTM1NTMyMDE4OV5BMTFeQW1wNF5BbWU3MDEyNTI0OTU.mp4",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/trailer.jpg",
                      html5video: {
                        webm: "http://iprodev.com/ilightbox/assets/MV5BMTM1NTMyMDE4OV5BMTFeQW1wNF5BbWU3MDEyNTI0OTU.webm",
                        poster: "assets/img/sherlock_holmes/trailer.jpg"
                      },
                      width: 1280,
                      height: 544
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/1.jpg",
                    caption: 'This one fill the screen when you enter fullscreen.',
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/1.jpg",
                      fullViewPort: 'fill'
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/2.jpg",
                    caption: 'This one fit to the screen when you enter fullscreen.',
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/2.jpg",
                      fullViewPort: 'fit'
                    }
                  },
                  {
                    URL: "http://www.youtube.com/embed/lNxhpNpnAkk?autohide=1&border=0&egm=0&showinfo=0&showsearch=0",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/mqdefault.jpg",
                      fullViewPort: 'stretch',
                      icon: "video",
                      width: 1280,
                      height: 720
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/3.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/3.jpg"
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/4.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/4.jpg"
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/5.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/5.jpg"
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/6.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/6.jpg"
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/7.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/7.jpg"
                    }
                  },
                  {
                    URL: "assets/img/sherlock_holmes/8.jpg",
                    options: {
                      thumbnail: "assets/img/thumbnails/sherlock_holmes/8.jpg"
                    }
                  }
                ],
                {
                  path: 'horizontal',
                  skin: 'metro-black',
                  styles: {
                    nextOpacity: 0,
                    prevOpacity: 0
                  },
                  controls: {
                    thumbnail: thumbs
                  }
                }
              );
              return false;
            });