%html{lang: "en-US"}
  %head
    %meta{charset: "UTF-8"}/
    %title A/B Skips
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
    
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
    
    %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
    %script{src: "/js/g-alert.js", type: "text/javascript"}
    %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
    %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
    %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
    %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
    %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
    %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
    %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
    %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/js/plugins.js", type: "text/javascript"}
    %script{src: "/js/waypoints.min.js", type: "text/javascript"}
    %script{src: "/js/w-lang.js", type: "text/javascript"}
    %script{src: "/js/w-search.js", type: "text/javascript"}
    %script{src: "/js/w-tabs.js", type: "text/javascript"}
    %script{src: "/js/w-timeline.js", type: "text/javascript"}

    :css
      .g-cols > .two-thirds, .g-cols > .four-sixths {
      width: 65.3333%;
      }
      .g-cols > .one-third, .g-cols > .two-sixths {
      width: 32.6666%;
      }
      .g-cols > div {
      margin-left: 2.0000%;
      }


   
  %body.l-body
    .l-background
    / CANVAS
    .l-canvas.type_wide.col_cont.headerpos_fixed.headertype_extended
      .l-canvas-h
        / MAIN
        .l-main
          .l-main-h.workout.videos
            .l-submain.for_pagehead.color_alternate
              .l-submain-h.g-html.i-cf
                .w-pagehead
                  %h1 Lunge Circuit
                  %p 
                  / breadcrums
                  .w-pagehead-nav
                    .w-pagehead-nav-h
                      %a.w-pagehead-nav-item.type_prev{href: "project-another-slider.html"}
                        %i.icon-chevron-left
                      %a.w-pagehead-nav-item.type_all{href: "portfolio-3.html"}
                        %i.icon-th
                      %a.w-pagehead-nav-item.type_next{href: "project-another-slider.html"}
                        %i.icon-chevron-right
            .l-submain.workout
              .l-submain-h.g-html
                .g-cols
                  .two-thirds
                    .w-video.ratio_16-9
                      .w-video-h
                        %iframe{src: "//www.youtube.com/embed/5L6waFfNtSA?rel=0"}
                    .video-content-wrapper
                      .video-header
                        %h6 Strength Training
                        %h1 Lunge Circuit
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus.Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                      
                      %h3 Technical Details
                      %p Lorem ipsum dolor sit amet, <a href="javascript:void(0);">this is a text link</a>. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                      %ul
                        %li This is a unorder list</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                        %li Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus.
                        %li Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                      
                     
                  .one-third
                    =render partial: "videos_strengthTraining"
            .l-submain
              .l-submain-h.g-html
                %h3{style: "text-align: center;"} Other Projects
                .g-hr.type_invisible
                  %span.g-hr-h
                    %i.icon-star
                .w-portfolio.columns_4
                  .w-portfolio-h
                    .w-portfolio-list
                      .w-portfolio-list-h
                        .w-portfolio-item
                          .w-portfolio-item-h
                            %a.w-portfolio-item-anchor{href: "#"}
                              .w-portfolio-item-image
                                %img{alt: "", height: "490", src: "img/placeholder/500x500.gif", width: "490"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single Project
                                  %i.icon-mail-forward
                        .w-portfolio-item
                          .w-portfolio-item-h
                            %a.w-portfolio-item-anchor{href: "#"}
                              .w-portfolio-item-image
                                %img{alt: "", height: "490", src: "img/placeholder/500x500.gif", width: "490"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single Project
                                  %i.icon-mail-forward
                        .w-portfolio-item
                          .w-portfolio-item-h
                            %a.w-portfolio-item-anchor{href: "#"}
                              .w-portfolio-item-image
                                %img{alt: "", height: "490", src: "img/placeholder/500x500.gif", width: "490"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single Project
                                  %i.icon-mail-forward
                        .w-portfolio-item
                          .w-portfolio-item-h
                            %a.w-portfolio-item-anchor{href: "#"}
                              .w-portfolio-item-image
                                %img{alt: "", height: "490", src: "img/placeholder/500x500.gif", width: "490"}/
                                .w-portfolio-item-meta
                                  %h2.w-portfolio-item-title Single Project
                                  %i.icon-mail-forward
        / /MAIN
    / /CANVAS
    / FOOTER
    .l-footer.type_normal
      / subfooter: bottom
      .l-subfooter.at_bottom
        .l-subfooter-h.i-cf
          .w-copyright
            © 2013 All rights reserved.
            %a{href: ""} TrainForFootball.com
          / NAV
          %nav.w-nav
            .w-nav-h
              .w-nav-list.layout_hor.width_auto.float_right.level_1
                .w-nav-list-h
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "index.html"} Privary Policy
                  .w-nav-item.level_1
                    .w-nav-item-h
                      %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up