=simple_form_for @admin_user, url: (@admin_user.new_record? ? admin_admin_users_path : admin_admin_user_path(@admin_user)) do |f|
  =f.input :email
  =f.input :password
  =f.input :password_confirmation
  =f.submit "Continue"
