:css

  .controls .inline{
    display:inline !important;
  }

  .controls .inline span.error{
    top: -10px;
    left: 0px;
    margin: 0;
  }

  .control-group {
    position: relative;
  }

  .field_with_errors input{
    border: 1px solid red;
  }

  .span6{
    margin-left: 0px !important;
  }
#testing.tab-pane.fade
  .row-fluid
    =simple_form_for performance, url: performance_test_path do |f|
      %button.btn.btn-med{:type => "submit", :value => ""} Update
      .span6
        %fieldset
          %h5 Combine Agility Testing
          .control-group
            %label.required.control-label{:for => "40ydDash"} 40-yard Dash
            .controls
              =f.input :yard_dash_40_p1, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :yard_dash_40_p2, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :yard_dash_40_p3, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "broadJump"} Broad Jump
            .controls
              =f.input :broad_jump_p1, wrapper_html: {class: "inline"}, label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :broad_jump_p2, wrapper_html: {class: "inline"}, label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :broad_jump_p3, wrapper_html: {class: "inline"}, label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "225benchPress"} 225 Bench Press
            .controls
              =f.input :bench_press_225_p1, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :bench_press_225_p2, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :bench_press_225_p3, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "shortShuttle"} Short Shuttle
            .controls
              =f.input :short_shuttle_p1, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :short_shuttle_p2, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :short_shuttle_p3, wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "lDrill"} L-Drill
            .controls
              =f.input :l_drill_p1,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :l_drill_p2,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :l_drill_p3,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "verticalJump"} Vertical Jump
            .controls
              =f.input :vertical_jump_p1,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :vertical_jump_p2,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :vertical_jump_p3,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
      .span6
        %fieldset
          %h5 Max Strength (1RM) Testing
          .control-group
            %label.required.control-label{:for => "benchPress"} Bench Press
            .controls
              =f.input :bench_press_p1,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :bench_press_p2,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :bench_press_p3,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "backSquat"} Back Squat
            .controls
              =f.input :back_squat_p1,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :back_squat_p2,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :back_squat_p3,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "deadLift"} Deadlift
            .controls
              =f.input :dead_lift_p1,wrapper_html: {class: "inline"},   label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :dead_lift_p2,wrapper_html: {class: "inline"},   label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :dead_lift_p3,wrapper_html: {class: "inline"},   label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
          .control-group
            %label.required.control-label{:for => "hangClean"} Hang Clean
            .controls
              =f.input :hang_clean_p1,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 1", class: "span2"}
              =f.input :hang_clean_p2,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 2", class: "span2"}
              =f.input :hang_clean_p3,wrapper_html: {class: "inline"},  label: false, input_html: {type: "text", placeholder: "Phase 3", class: "span2"}
