%link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lustria", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700italic,700,400italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/


%link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/


/ MAIN
.l-canvas.type_wide.col_sidecont.headertype_extended
  .l-canvas-h.l-canvas-h
    
    .l-main
      .l-main-h.workout

        .l-submain.signup
          .l-submain-h.g-html.i-cf

            .forgotten-pw.email-signup
              .g-form-group
                .g-form-group-rows
                = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
                  = f.error_notification

                  %h4 Forgot your password? Quick fix...
                  .form-inputs
                    = f.input :email, :required => true, :autofocus => true, :label => false, :placeholder => "Enter your e-mail address to receive instructions..."
                    = f.submit "RESET PASSWORD", class: "g-btn type_primary size_small"

            .two-thirds.fb-signup
              %h1 No lost passwords.
              %h3 One-click login.
              =link_to "<img src='/img/icon_facebook_black_128.png'></img>".html_safe, user_omniauth_authorize_path(:facebook) 


              

              
      