.span8
  %h2
    Listing Users
  = paginate @users
  %table.table.table-bordered
    %tr
      %th
        Full Name
      %th
        Email
      %th
        Plan
      %th
      %th
      %th
    -@users.each do |user|
      %tr
        %td=user.full_name
        %td=user.email
        %td=user.plan
        %td=link_to "Edit", edit_admin_user_path(user)
        %td=link_to "Delete", admin_user_path(user), method: :delete, confirm: "Are you sure?"
        -if user.payer?
          %td=link_to "Downgrade", downgrade_admin_user_path(user), method: :put, confirm: "Are you sure?"
        -else
          %td=link_to "Upgrade", upgrade_admin_user_path(user), method: :put, confirm: "Are you sure?"

  = paginate @users
