.l-footer.type_normal
  .l-footer-h
    / subfooter: bottom
    .l-subfooter.at_bottom
      .l-subfooter-h.i-cf
        .w-copyright
          © 2013-2016 All rights reserved.
          %a{href: ""} TrainForFootball.com
        / NAV
        %nav.w-nav
          .w-nav-h
            .w-nav-list.layout_hor.width_auto.float_right.level_1
              .w-nav-list-h
                .w-nav-item.level_1
                  .w-nav-item-h
                    %a.w-nav-anchor.level_1{href: "index.html"} Privacy Policy
                .w-nav-item.level_1
                  .w-nav-item-h
                    %a.w-nav-anchor.level_1{href: "about.html"} Terms & Agreements